@import 'styles/main.scss';

.video-player__inactive,
.video-player__overlay[data-controls="false"] {
	.ffz-metadata-balloon {
		opacity: 0;
	}
}

.ffz--player-pip,
.ffz--player-reset {
	&:before {
		font-size: 2rem;
		margin-top: .7rem;
	}

	&:hover:before {
		color: #a991d4;
	}
}

.player-controls-bottom .player-tip {
	top: auto;
	bottom: 4rem;
	height: auto;
}

div[data-a-target="player-settings-menu"] {
	display: flex;
	flex-direction: column;
}

.ffz--cc-button {
	order: 999;
}