.chat-line__message--emote {
    vertical-align: middle;
    margin: -.5rem 0;
}

.chat-author__display-name,
.chat-author__intl-login {
	cursor: pointer;
}

.ffz-emoji {
    width: calc(var(--ffz-chat-font-size) * 1.5);
    height: calc(var(--ffz-chat-font-size) * 1.5);

    &.preview-image {
        width: 7.2rem;
        height: 7.2rem;
    }

    &.emote-autocomplete-provider__image {
        width: 1.8rem;
        height: 1.8rem;
        margin: .5rem;
    }
}