.channel-info-bar__content-right > .tw-align-items-start > .tw-flex:last-child,
.channel-info-bar__action-container > .tw-flex {
	.channel-info-bar__viewers-wrapper > div:first-child {
		margin-right: 0;
	}

	& > .tw-flex {
		& > * {
			margin-left: 0 !important;
			margin-right: 1rem !important;
			order: 50;
		}

		.ffz-fix-padding {
			margin-left: -.8rem !important;
			margin-right: .2rem !important;
		}

		.ffz-fix-padding--left {
			margin-left: -.8rem !important;
		}

		.tw-c-text-live {
			order: 1;
		}

		.tw-tooltip__container {
			order: 100;
		}
	}

	& > .tw-flex:last-child > :last-child {
		margin-right: 0 !important
	}
}

.tw-root--theme-ffz, .tw-root--theme-ffz.tw-root--theme-dark, .tw-root--theme-dark, body {
	.ffz-stat > .tw-button--text,
	.ffz-stat.tw-button--text {
		color: inherit;
	}
}

.ffz-stat[data-key="viewers"] figure {
	font-size: 1.6rem;

	&:before {
		margin: 0 !important;
	}

}

.ffz-stat-text {
	font-size: 1.2rem;
	font-variant-numeric: tabular-nums;
	font-family: "Helvetica Neue",sans-serif;
}

.ffz-stat--fix-padding {
	margin-top: -.7rem !important;
	margin-bottom: -.7rem !important;
}

.ffz--mod-tray {
	margin-right: -1rem;

	& > :not(.ffz-stat) {
		order: 1;
		margin-right: 1rem;
	}
}


.ffz--meta-tray:not(.tw-flex-wrap) {
	& > *:not(.ffz-stat) {
		order: 500;
	}
}

.ffz--meta-tray.tw-flex-wrap {
	& > :first-child {
		order: 1;
	}

	& > :nth-child(0n+2) {
		order: 500;
	}
}

.ffz-stat {
	font-variant-numeric: tabular-nums;
}

.ffz--fade-in {
	pointer-events: none;
	animation: ffz-fade-in var(--ffz-fade-duration) 1;
}

.ffz-sidebar-stats {
	margin-top: .5rem;
	margin-right: -1rem;

	& + .ffz-sidebar-stats {
		margin-top: 0 !important;
	}

	.ffz-sidebar-stat {
		min-width: calc(50% - 1rem);
		margin: 0 1rem 1rem 0;
	}
}

.ffz-has-stat-arrow {
	border-top-right-radius: 0 !important;
	border-bottom-right-radius: 0 !important;
}


.ffz-stat-arrow {
	border-left: none !important;
	border-top-left-radius: 0 !important;
	border-bottom-left-radius: 0 !important;
}


.ffz-featured-follow,
.ffz-auto-host-options {
	.ffz-channel-avatar {
		max-width: 3.2rem;
		max-height: 3.2rem;
	}
}

@keyframes ffz-fade-in {
	from {opacity: 0}
	to {opacity: 1}
}


.side-nav {
	.ffz--can-prime,
	.ffz--post-prime {
		width: 0;
		flex-grow: 1;
	}
}