.channel-info-bar__action-container {
	& > .tw-flex {
		& > * {
			margin-left: 0 !important;
			margin-right: 1rem !important;
			order: 50;
		}

		.ffz-fix-padding {
			margin-left: -.8rem !important;
			margin-right: .2rem !important;
		}

		.ffz-fix-padding--left {
			margin-left: -.8rem !important;
		}

		.tw-c-text-live {
			order: 1;
		}

		.tw-tooltip-wrapper {
			order: 100;
		}
	}

	& > .tw-flex:last-child > :last-child {
		margin-right: 0 !important
	}
}

.tw-theme--ffz, .tw-theme--ffz.tw-theme--dark, .tw-theme--dark, body {
	.ffz-stat > .tw-button--text,
	.ffz-stat.tw-button--text {
		color: inherit;
	}
}

.ffz-stat-arrow {
	border-left: none !important;
}