.chat-author__display-name,
.chat-author__intl-login {
	cursor: pointer;
}

.ffz--freeze-indicator {
	pointer-events: none;
}

.chat-list__lines .simplebar-scrollbar {
	will-change: opacity;
}

.autocomplete-balloon {
    .autocomplete-balloon__item {
        > .tw-flex {
            > div {
                display: flex;
                flex-shrink: 0;
            }
        }

        span {
            overflow-x: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
}

.ffz--chat-card {
    .ffz--two-line {
        .tw-ellipsis { line-height: 1.4rem }
        .chat-card__title { line-height: 1.5rem }
    }
}