.tw-root--theme-dark, html {
	body,
	.channel-header,
	.channel-root__right-column,
	.chat-room,
	.carousel-player-nav-arrow__container {
		background-color: var(--color-background-body) !important;
	}

	.clmgr-table__row,
	.room-upsell,
	.video-card {
		background-color: var(--color-background-base) !important;
	}

	.side-nav__overlay-wrapper,
	.thread-header__title-bar-container--focused {
		background-color: var(--color-background-alt) !important;
	}

	.clmgr-table__row:hover,
	.thread-header__title-bar-container,
	.whispers-list-item:hover,
	.side-nav-card__link:hover {
		background-color: var(--color-background-alt-2) !important;
	}

	.channel-header__user {
		color: var(--color-text-base) !important;
	}

	.chat-line__timestamp,
	.chat-line__moderation,
	.chat-line__status {
		color: var(--color-text-alt-2) !important;
	}
}