.tw-root--theme-dark, html {
	body,
	.channel-header,
	.channel-root__right-column,
	.chat-viewers__pane,
	.sunlight-tile,
	.multi-stream-player-layout,
	.carousel-player-nav-arrow__container {
		background-color: var(--color-background-body) !important;
	}

	.clmgr-table__row,
	.sunlight-expanded-nav-drop-down-menu-layout__scrollable-area,
	.stream-manager--page-view .mosaic-window-body,
	.ach-card,
	.ach-card--expanded .ach-card__inner,
	.room-upsell,
	.chat-room,
	.qa-vod-chat,
	.video-card {
		background-color: var(--color-background-base) !important;
	}

	.whispers-list-item__archive,
	.whispers-list-item .whispers-list-item__archive-button,
	.top-stats-tab:hover,
	.whispers-list-item--selected,
	.side-nav__overlay-wrapper,
	.thread-header__title-bar-container--focused {
		background-color: var(--color-background-alt) !important;
	}

	.whispers-list-item:hover .whispers-list-item__archive-button:hover,
	.clmgr-table__row:hover,
	.thread-header__title-bar-container,
	.whispers-list-item:hover,
	.side-nav-card__link:hover {
		background-color: var(--color-background-alt-2) !important;
	}

	.top-stats-tab,
	.channel-header__user {
		color: var(--color-text-base) !important;
	}

	.chat-line__timestamp,
	.chat-line__moderation,
	.chat-line__status {
		color: var(--color-text-alt-2) !important;
	}

	.chat-viewers-list__button {
		color: var(--color-text-link) !important;
	}

	.edit-stream-info-buttons {
		box-shadow: 0 -2rem 1.5rem var(--color-background-base) !important;
	}

	.quick-action__not-edit-mode:not([disabled]) {
		&:focus, &:hover {
			background-color: var(--ffz-color-accent-8) !important;
		}
	}

	.ach-q-card {
		box-shadow: 0 0 0 1px var(--color-border-button) !important;
	}

	.ach-link:active .ach-card, .ach-link:focus .ach-card {
		outline: .5rem auto var(--color-border-input-focus) !important;
	}

	.ach-card--expanded .ach-card__inner {
		border-color: var(--color-border-brand) !important;
	}
}

html {
	.navigation-link.active, .navigation-link:hover {
		color: var(--ffz-color-accent-9) !important;
	}

	.search-result-verified-badge,
	.search-item__history {
		color: var(--ffz-color-accent-8) !important;
	}

	.navigation-link__active-indicator {
		background-color: var(--ffz-color-accent-8) !important;
	}
}

.tw-root--theme-dark, .dark-theme {
	.navigation-link.active, .navigation-link:hover {
		color: var(--ffz-color-accent-10) !important;
	}

	.search-result-verified-badge,
	.search-item__history {
		color: var(--ffz-color-accent-10) !important;
	}

	.navigation-link__active-indicator {
		color: var(--ffz-color-accent-10) !important;
	}
}