.tw-root--theme-dark .live-channel-card__boxart {
	border-right: none;
	border-bottom: none;
}

.top-nav__menu > div:empty {
	display: none
}

.twilight-main > .tw-relative.tw-z-above.tw-bottom-0 {
	position: absolute !important;
}