.ffz-auto-host-options {
	.scrollable-area {
		max-height: 25vh;
	}

	.handle {
		cursor: move;
		cursor: -webkit-grabbing;
	}

	.sortable-ghost {
		opacity: 0.4;
	}

	.ffz--host-user {
		.handle {
			padding: 0 0.4rem 0 0;
		}

		.ffz--host-remove-user {
			> figure {
				padding: 0.4rem 0.2rem;
			}

			&:hover { background: #a94444 !important }
		}
	}

	> header {
		padding: .9rem 1rem .9rem 2rem;
	}

	.ffz-checkbox-description {
		padding-left: 2.2rem;
	}

	.host-options__tabs-container {
		height: 3rem;

		> .host-options__tab {
			position: relative;
			top: -.1rem;
			cursor: pointer;
			display: inline-block;
			line-height: 3rem;
			margin-right: .5rem;
			border-top: 1px solid transparent;

			&.active {
				border-top-color: var(--color-border-tab-active);
			}

			&:hover,&:focus {
				border-top-color: var(--color-border-top-hover)
			}
		}
	}
}
