.ffz-top-nav {
	.tw-pill {
		border-radius: 1000px;
		padding: 0.3rem 0.8em;
		font-size: 75%;
		background-color: var(--color-background-pill);
		color: var(--color-text-overlay);
		white-space: nowrap;
	}

	.ffz-menu__pill {
		top: -.5rem;
		right: -.5rem;
		pointer-events: none;
	}

	.ffz-menu__extra-pill {
		bottom: -.75rem;
		right: -.5rem;
		pointer-events: none;
	}

	.tw-pd-r-1 + & {
		margin-left: -.5rem;
	}

	.loading .ffz-i-zreknarf {
		animation: ffz-rotateplane 1.2s infinite linear;
	}

	.ffz-toast--container {
		z-index: 1999;
	}

	.ffz-toast {
		&.ffz-toast--paused .tw-progress-bar--countdown .tw-progress-bar__fill {
			animation: none !important;
		}

		.ffz-toast--progress {
			left: 0;
			right: 0;
			bottom: -.4rem;
		}
	}
}