.ffz-top-nav {
	.tw-pill {
		padding: .4rem;
	}

	.ffz-menu__pill {
		top: -.5rem;
		right: 0;
	}

	.ffz-menu__extra-pill {
		bottom: -.5rem;
		right: 0;
		pointer-events: none;
	}

	.tw-pd-r-1 + & {
		margin-left: -.5rem;
	}

	.loading .ffz-i-zreknarf {
		animation: ffz-rotateplane 1.2s infinite linear;
	}
}