.ffz-viewer-card {
	width: 34rem;
	z-index: 9001;

	&:focus {
		outline: none;
		box-shadow: var(--shadow-button-focus);
	}

	> div:first-child {
		cursor: move;
	}

	.ffz-tooltip {
		> * {
			pointer-events: none;
		}
	}

	.ffz--info-lines > * {
		line-height: 1.2;
	}

	.viewer-card__tabs-container {
		height: 3rem;

		> .viewer-card__tab {
			position: relative;
			top: -.1rem;
			cursor: pointer;
			display: inline-block;
			line-height: 3rem;
			margin-right: .5rem;

			&:hover, &.active {
				border-top: 1px solid #6441a4;
			}
		}
	}
}

.viewer-card__background {
	background-position: top;
	background-size: cover
}