.ffz--player-reset:hover:before {
	color: #a991d4;
}

.ffz--player-reset:before {
	font-size: 2rem;
}

.player-controls-bottom .player-tip {
	top: auto;
	bottom: 4rem;
	height: auto;
}

.video-player--fullscreen.video-player--theatre.video-player--logged-in .video-player__container {
	bottom: 0 !important;
}