.tw-theme--ffz {
	--ffz-color-0: #1d1d1d;
	--ffz-color-1: #dadada;
	--ffz-color-2: #a6a6a6;
	//--ffz-color-3: #555555;
	--ffz-color-3: #6441a4;
	--ffz-color-4: #fff;
	//--ffz-color-5: #6d6d6d;
	--ffz-color-5: #7d5bbe;
	--ffz-color-6: hsla(0, 0%, 100%, 0.05);
	--ffz-color-7: #868686;
	--ffz-color-8: #424242;
	--ffz-color-9: rgba(85, 85, 85, 0.2);
	--ffz-color-10: #eeeeee;
	--ffz-color-11: rgba(85, 85, 85, 0.4);
	--ffz-color-12: rgba(85, 85, 85, 0.1);
	--ffz-color-13: rgba(85, 85, 85, 0.5);
	--ffz-color-14: #ec1313;
	--ffz-color-15: #a50d0d;
	--ffz-color-16: #555555;
	--ffz-color-17: rgba(0, 0, 0, 0.25);
	--ffz-color-18: #14b866;
	--ffz-color-19: #12a159;
	--ffz-color-20: #2a2a2a;
	--ffz-color-21: #151515;
	--ffz-color-22: hsla(0, 0%, 100%, 0.3);
	--ffz-color-23: #f9f9f9;
	--ffz-color-24: #b6b6b6;
	--ffz-color-25: rgba(0, 0, 0, 0.6);
	--ffz-color-26: #353535;
	--ffz-color-27: #0e0e0e;
	--ffz-color-28: #c9c9c9;
	--ffz-color-29: #8b8b8b;
	--ffz-color-30: #ffb300;
	--ffz-color-31: hsla(0, 0%, 100%, 0.15);
	--ffz-color-32: #0e9bd8;
	--ffz-color-33: #181818;
	--ffz-color-34: hsla(0, 0%, 100%, 0.25);
	--ffz-color-35: #a0a0a0;
	--ffz-color-36: rgba(0, 0, 0, 0.34);
	--ffz-color-37: rgba(0, 0, 0, 0.26);
	--ffz-color-38: rgba(0, 0, 0, 0.28);
	--ffz-color-39: #ffea00;
	--ffz-color-40: rgba(66, 66, 66, 0.2);
	--ffz-color-41: rgba(85, 85, 85, 0.25);
	--ffz-color-42: rgba(53, 53, 53, 0.5);
	--ffz-color-43: rgba(165, 13, 13, 0.2);
	--ffz-color-44: rgba(236, 19, 19, 0.2);
	--ffz-color-45: hsla(0, 0%, 100%, 0.8);
	--ffz-color-46: hsla(0, 0%, 100%, 0.5);
	--ffz-color-47: rgba(0, 0, 0, 0.05);
	--ffz-color-48: hsla(0, 0%, 100%, 0.1);
	--ffz-color-49: #e5e3e8;
	--ffz-color-50: #3b5998;
	--ffz-color-51: #45668e;
	--ffz-color-52: #1da1f2;
	--ffz-color-53: #ff4500;
	--ffz-color-54: hsla(256, 8%, 73%, 0.9);
	--ffz-color-55: #000;
	--ffz-color-56: #404040;
}

.tw-theme--ffz, .tw-theme--ffz .tw-theme--dark, .tw-theme--ffz.tw-theme--dark {
	.tw-interactable {
		color: inherit;
	}
	.modal__backdrop {
		background-color: var(--ffz-color-25);
	  }
	  .modal__content {
		color: var(--ffz-color-1);
	  }
	  .tw-svg__asset {
		fill: var(--ffz-color-23);
	  }
	  .tw-svg__asset--inherit {
		  fill: currentColor;
	  }
	  .tw-svg__asset--alt {
		fill: var(--ffz-color-28);
	  }
	  .tw-svg__asset--alt-2 {
		fill: var(--ffz-color-7);
	  }
	  .tw-svg__asset--brand {
		fill: var(--ffz-color-2);
	  }
	  .tw-svg__asset--live {
		fill: var(--ffz-color-14);
	  }
	  .tw-svg__asset--warn {
		fill: var(--ffz-color-39);
	  }
	  .tw-svg__asset--alert {
		fill: var(--ffz-color-14);
	  }
	  .tw-svg__asset--success {
		fill: var(--ffz-color-18);
	  }
	  .tw-svg__asset--prime {
		fill: var(--ffz-color-32);
	  }
	  .tw-svg__asset--placeholder {
		fill: var(--ffz-color-6);
	  }
	  .tw-svg__asset--overlay-placeholder {
		fill: var(--ffz-color-31);
	  }
	  .tw-badge {
		background-color: var(--ffz-color-26);
		color: var(--ffz-color-4);
	  }
	  .tw-badge--alt {
		background-color: var(--ffz-color-28);
	  }
	  .tw-badge--alt-2 {
		background-color: var(--ffz-color-7);
	  }
	  .tw-badge--brand {
		background-color: var(--ffz-color-2);
	  }
	  .tw-badge--live, .tw-badge--notification {
		background-color: var(--ffz-color-14);
	  }
	  .tw-badge--warn {
		background-color: var(--ffz-color-39);
	  }
	  .tw-badge--alert {
		background-color: var(--ffz-color-14);
	  }
	  .tw-badge--success {
		background-color: var(--ffz-color-18);
	  }
	  .tw-badge--prime {
		background-color: var(--ffz-color-32);
	  }
	  .tw-badge--dashboard {
		background-color: var(--ffz-color-26);
	  }
	  .tw-placeholder:before {
		background-color: var(--ffz-color-6);
	  }
	  .tw-placeholder--overlay:before {
		background-color: var(--ffz-color-31);
	  }
	  .tw-box-art-card__title {
		color: var(--ffz-color-1);
	  }
	  .tw-box-art-card a:hover .tw-box-art-card__title {
		color: var(--ffz-color-2);
	  }
	  .tw-loading-spinner {
		border-top-color: var(--ffz-color-31);
		border-right-color: var(--ffz-color-31);
		border-bottom-color: var(--ffz-color-31);
		border-left-color: var(--ffz-color-1);
	  }
	  .tw-loading-spinner--inherit-color {
		border-top-color: var(--ffz-color-31);
		border-right-color: var(--ffz-color-31);
		border-bottom-color: var(--ffz-color-31);
	  }
	  .tw-button {
		border-color: transparent;
		background-color: var(--ffz-color-3);
		color: var(--ffz-color-4);
		&:hover {
		  border-color: var(--ffz-color-5);
		  background-color: var(--ffz-color-5);
		  color: var(--ffz-color-4);
		}
		&:focus {
		  border-color: var(--ffz-color-29);
		  background-color: var(--ffz-color-5);
		  color: var(--ffz-color-4);
		  -webkit-box-shadow: 0 0 6px 0 var(--ffz-color-5);
		  box-shadow: 0 0 6px 0 var(--ffz-color-5);
		}
		&:active {
		  border-color: var(--ffz-color-5);
		  background-color: var(--ffz-color-3);
		  color: var(--ffz-color-4);
		  -webkit-box-shadow: 0 0 6px 0 var(--ffz-color-5);
		  box-shadow: 0 0 6px 0 var(--ffz-color-5);
		}
	  }
	  .tw-button--hollow {
		border-color: var(--ffz-color-8);
		background-color: transparent;
		color: var(--ffz-color-1);
		&:hover {
		  border-color: var(--ffz-color-11);
		  background-color: var(--ffz-color-9);
		  color: var(--ffz-color-10);
		}
		&:focus {
		  -webkit-box-shadow: 0 0 6px 0 var(--ffz-color-5);
		  box-shadow: 0 0 6px 0 var(--ffz-color-5);
		  border-color: var(--ffz-color-11);
		  background-color: var(--ffz-color-9);
		  color: var(--ffz-color-10);
		}
		&:active {
		  border-color: var(--ffz-color-13);
		  background-color: var(--ffz-color-12);
		  color: var(--ffz-color-10);
		  -webkit-box-shadow: 0 0 6px 0 var(--ffz-color-5);
		  box-shadow: 0 0 6px 0 var(--ffz-color-5);
		}
	  }
	  .tw-button--alert {
		border-color: var(--ffz-color-14);
		background-color: var(--ffz-color-14);
		color: var(--ffz-color-4);
		&:focus, &:hover {
		  border-color: var(--ffz-color-15);
		  background-color: var(--ffz-color-15);
		  color: var(--ffz-color-4);
		}
		&:active {
		  border-color: var(--ffz-color-14);
		  background-color: var(--ffz-color-14);
		  color: var(--ffz-color-4);
		}
	  }
	  .tw-button--success {
		border-color: var(--ffz-color-18);
		background-color: var(--ffz-color-18);
		color: var(--ffz-color-4);
		&:focus, &:hover {
		  border-color: var(--ffz-color-18);
		  background-color: var(--ffz-color-19);
		  color: var(--ffz-color-4);
		}
		&:active {
		  border-color: var(--ffz-color-18);
		  background-color: var(--ffz-color-18);
		  color: var(--ffz-color-4);
		}
	  }
	  .tw-button--status {
		&:hover, &:focus {
		  border-color: var(--ffz-color-15);
		  background-color: var(--ffz-color-15);
		  color: var(--ffz-color-4);
		}
		&:active {
		  border-color: var(--ffz-color-14);
		  background-color: var(--ffz-color-14);
		  color: var(--ffz-color-4);
		}
	  }
	  .tw-button--text {
		background-color: transparent;
		color: var(--ffz-color-1);
		&:focus, &:hover {
		  border-color: transparent;
		  background-color: var(--ffz-color-9);
		  color: var(--ffz-color-10);
		}
		&:focus {
		  -webkit-box-shadow: 0 0 6px 0 var(--ffz-color-5);
		  box-shadow: 0 0 6px 0 var(--ffz-color-5);
		  border-color: var(--ffz-color-11);
		}
		&:active {
		  border-color: var(--ffz-color-13);
		  background-color: var(--ffz-color-12);
		  color: var(--ffz-color-10);
		  -webkit-box-shadow: 0 0 6px 0 var(--ffz-color-5);
		  box-shadow: 0 0 6px 0 var(--ffz-color-5);
		}
	  }
	  .tw-button--overlay {
		border-color: transparent;
		background-color: transparent;
		color: var(--ffz-color-4);
		&:hover {
		  border-color: transparent;
		  background-color: var(--ffz-color-6);
		  color: var(--ffz-color-4);
		}
		&:focus {
		  border-color: var(--ffz-color-46);
		  background-color: var(--ffz-color-6);
		  color: var(--ffz-color-4);
		  -webkit-box-shadow: 0 0 6px 0 var(--ffz-color-45);
		  box-shadow: 0 0 6px 0 var(--ffz-color-45);
		}
		&:active {
		  background-color: transparent;
		  color: var(--ffz-color-4);
		  -webkit-box-shadow: 0 0 6px 0 var(--ffz-color-45);
		  box-shadow: 0 0 6px 0 var(--ffz-color-45);
		  border-color: var(--ffz-color-46);
		}
		&.tw-button--hollow, &.tw-button--state-loading, &.tw-button--state-success {
		  border-color: var(--ffz-color-4);
		}
		&.tw-button--hollow.tw-button--disabled {
		  border-color: var(--ffz-color-46);
		  &:active, &:focus, &:hover {
			border-color: var(--ffz-color-46);
		  }
		}
		&.tw-button--state-loading.tw-button--disabled {
		  border-color: var(--ffz-color-46);
		  &:active, &:focus, &:hover {
			border-color: var(--ffz-color-46);
		  }
		}
		&.tw-button--state-success.tw-button--disabled {
		  border-color: var(--ffz-color-46);
		  &:active, &:focus, &:hover {
			border-color: var(--ffz-color-46);
		  }
		}
		&.tw-button--disabled {
		  background-color: transparent;
		  color: var(--ffz-color-46);
		  &:focus, &:hover {
			background-color: transparent;
			color: var(--ffz-color-46);
		  }
		}
	  }
	  .tw-button--disabled {
		border-color: var(--ffz-color-6);
		background-color: var(--ffz-color-6);
		color: var(--ffz-color-7);
		&:active, &:focus, &:hover {
		  border-color: var(--ffz-color-6);
		  background-color: var(--ffz-color-6);
		  color: var(--ffz-color-7);
		  box-shadow: none;
		}
	  }
	  .tw-button__num-block {
		background-color: var(--ffz-color-17);
	  }
	  .tw-button-icon {
		border-color: transparent;
		background-color: transparent;
		color: var(--ffz-color-1);
		&:hover {
		  border-color: transparent;
		  background-color: var(--ffz-color-9);
		  color: var(--ffz-color-10);
		}
		&:focus {
		  -webkit-box-shadow: 0 0 6px 0 var(--ffz-color-5);
		  box-shadow: 0 0 6px 0 var(--ffz-color-5);
		  border-color: var(--ffz-color-11);
		  background-color: var(--ffz-color-9);
		  color: var(--ffz-color-10);
		}
		&:active {
		  border-color: var(--ffz-color-13);
		  background-color: var(--ffz-color-12);
		  color: var(--ffz-color-10);
		}
	  }
	  .tw-button-icon--disabled, .tw-button-icon:disabled {
		border-color: var(--ffz-color-6);
		background-color: var(--ffz-color-6);
		color: var(--ffz-color-7);
	  }
	  .tw-button-icon--disabled {
		&:focus, &:hover {
		  border-color: var(--ffz-color-6);
		  background-color: var(--ffz-color-6);
		  color: var(--ffz-color-7);
		  box-shadow: none;
		}
	  }
	  .tw-button-icon:disabled {
		&:focus, &:hover {
		  border-color: var(--ffz-color-6);
		  background-color: var(--ffz-color-6);
		  color: var(--ffz-color-7);
		  box-shadow: none;
		}
	  }
	  .tw-button-icon--primary {
		border-color: transparent;
		background-color: var(--ffz-color-3);
		color: var(--ffz-color-4);
		&:hover {
		  border-color: var(--ffz-color-5);
		  background-color: var(--ffz-color-5);
		  color: var(--ffz-color-4);
		}
		&:focus {
		  border-color: var(--ffz-color-29);
		  background-color: var(--ffz-color-5);
		  color: var(--ffz-color-4);
		  -webkit-box-shadow: 0 0 6px 0 var(--ffz-color-5);
		  box-shadow: 0 0 6px 0 var(--ffz-color-5);
		}
		&:active {
		  border-color: var(--ffz-color-5);
		  background-color: var(--ffz-color-3);
		  color: var(--ffz-color-4);
		  -webkit-box-shadow: 0 0 6px 0 var(--ffz-color-5);
		  box-shadow: 0 0 6px 0 var(--ffz-color-5);
		}
	  }
	  .tw-button-icon--hollow {
		border-color: var(--ffz-color-8);
		background-color: transparent;
		color: var(--ffz-color-1);
		&:hover {
		  border-color: var(--ffz-color-11);
		  background-color: var(--ffz-color-9);
		  color: var(--ffz-color-10);
		}
		&:focus {
		  -webkit-box-shadow: 0 0 6px 0 var(--ffz-color-5);
		  box-shadow: 0 0 6px 0 var(--ffz-color-5);
		  border-color: var(--ffz-color-11);
		  background-color: var(--ffz-color-9);
		  color: var(--ffz-color-10);
		}
		&:active {
		  border-color: var(--ffz-color-13);
		  background-color: var(--ffz-color-12);
		  color: var(--ffz-color-10);
		  -webkit-box-shadow: 0 0 6px 0 var(--ffz-color-5);
		  box-shadow: 0 0 6px 0 var(--ffz-color-5);
		}
	  }
	  .tw-button-icon--alert {
		border-color: var(--ffz-color-14);
		background-color: var(--ffz-color-14);
		color: var(--ffz-color-4);
		&:focus, &:hover {
		  border-color: var(--ffz-color-15);
		  background-color: var(--ffz-color-15);
		  color: var(--ffz-color-4);
		}
		&:active {
		  border-color: var(--ffz-color-14);
		  background-color: var(--ffz-color-14);
		  color: var(--ffz-color-4);
		}
	  }
	  .tw-button-icon--success {
		border-color: var(--ffz-color-18);
		background-color: var(--ffz-color-18);
		color: var(--ffz-color-4);
		&:focus, &:hover {
		  border-color: var(--ffz-color-18);
		  background-color: var(--ffz-color-19);
		  color: var(--ffz-color-4);
		}
		&:active {
		  border-color: var(--ffz-color-18);
		  background-color: var(--ffz-color-18);
		  color: var(--ffz-color-4);
		}
	  }
	  .tw-button-icon--overlay {
		border-color: transparent;
		background-color: transparent;
		color: var(--ffz-color-4);
		&:hover {
		  border-color: transparent;
		  background-color: var(--ffz-color-6);
		  color: var(--ffz-color-4);
		}
		&:focus {
		  border-color: var(--ffz-color-46);
		  background-color: var(--ffz-color-6);
		  color: var(--ffz-color-4);
		  -webkit-box-shadow: 0 0 6px 0 var(--ffz-color-45);
		  box-shadow: 0 0 6px 0 var(--ffz-color-45);
		}
		&:active {
		  background-color: transparent;
		  color: var(--ffz-color-4);
		  -webkit-box-shadow: 0 0 6px 0 var(--ffz-color-45);
		  box-shadow: 0 0 6px 0 var(--ffz-color-45);
		  border-color: var(--ffz-color-46);
		}
		&.tw-button-icon--hollow {
		  border-color: var(--ffz-color-4);
		}
		&.tw-button-icon--disabled {
		  background-color: transparent;
		  color: var(--ffz-color-46);
		  &:focus, &:hover {
			background-color: transparent;
			color: var(--ffz-color-46);
		  }
		}
		&:disabled {
		  background-color: transparent;
		  color: var(--ffz-color-46);
		  &:focus, &:hover {
			background-color: transparent;
			color: var(--ffz-color-46);
		  }
		}
	  }
	  .tw-button-icon--status {
		&:hover, &:focus {
		  border-color: var(--ffz-color-15);
		  background-color: var(--ffz-color-15);
		  color: var(--ffz-color-4);
		}
		&:active {
		  border-color: var(--ffz-color-14);
		  background-color: var(--ffz-color-14);
		  color: var(--ffz-color-4);
		}
	  }
	  .tw-button-icon--secondary {
		color: var(--ffz-color-7);
		&:hover, &:focus, &:active {
		  color: var(--ffz-color-16);
		}
	  }
	  .tw-balloon .tw-balloon__tail {
		background-color: var(--ffz-color-0);
	  }
	  .tw-balloon--left .tw-balloon__tail {
		-webkit-box-shadow: 1px -1px 0 var(--ffz-color-20);
		box-shadow: 1px -1px 0 var(--ffz-color-20);
	  }
	  .tw-balloon--right .tw-balloon__tail {
		-webkit-box-shadow: -1px 1px 0 var(--ffz-color-20);
		box-shadow: -1px 1px 0 var(--ffz-color-20);
	  }
	  .tw-balloon--up .tw-balloon__tail {
		-webkit-box-shadow: 1px 1px 0 var(--ffz-color-20);
		box-shadow: 1px 1px 0 var(--ffz-color-20);
	  }
	  .tw-balloon--down .tw-balloon__tail {
		-webkit-box-shadow: -1px -1px 0 var(--ffz-color-20);
		box-shadow: -1px -1px 0 var(--ffz-color-20);
	  }
	  .tw-checkbox__input {
		color: var(--ffz-color-23);
		&:checked + .tw-checkbox__label {
		  &:before {
			background-color: var(--ffz-color-5);
			-webkit-box-shadow: inset 0 0 0 1px var(--ffz-color-5);
			box-shadow: inset 0 0 0 1px var(--ffz-color-5);
		  }
		  &:after {
			border-bottom-color: var(--ffz-color-4);
			border-left-color: var(--ffz-color-4);
		  }
		}
		&:focus + .tw-checkbox__label:before {
		  -webkit-box-shadow: inset 0 0 0 1px var(--ffz-color-5), 0 0 6px -2px var(--ffz-color-5);
		  box-shadow: inset 0 0 0 1px var(--ffz-color-5), 0 0 6px -2px var(--ffz-color-5);
		}
	  }
	  .tw-checkbox__label {
		color: var(--ffz-color-23);
		&:before {
		  -webkit-box-shadow: inset 0 0 0 1px var(--ffz-color-26), 0 0 0 transparent;
		  box-shadow: inset 0 0 0 1px var(--ffz-color-26), 0 0 0 transparent;
		}
	  }
	  .tw-checkbox--error .tw-checkbox__label:before {
		-webkit-box-shadow: inset 0 0 0 1px var(--ffz-color-14), 0 0 0 transparent;
		box-shadow: inset 0 0 0 1px var(--ffz-color-14), 0 0 0 transparent;
	  }
	  .tw-drop-zone {
		border-color: var(--ffz-color-20);
	  }
	  .tw-drop-zone--error {
		border-color: var(--ffz-color-14);
	  }
	  .tw-drop-zone--over {
		border-color: var(--ffz-color-3);
	  }
	  .tw-input__icon svg {
		fill: var(--ffz-color-23);
	  }
	  .tw-input {
		border-color: var(--ffz-color-26);
		background-color: var(--ffz-color-27);
		color: var(--ffz-color-23);
		&::-webkit-input-placeholder, &:-ms-input-placeholder, &::-ms-input-placeholder, &::placeholder {
		  color: var(--ffz-color-7);
		}
		&:focus {
		  border-color: var(--ffz-color-5);
		  -webkit-box-shadow: 0 0 6px -2px var(--ffz-color-5);
		  box-shadow: 0 0 6px -2px var(--ffz-color-5);
		}
	  }
	  .tw-input--error {
		border-color: var(--ffz-color-14);
	  }
	  .tw-interactable--disabled, .tw-interactable:disabled {
		background-color: var(--ffz-color-6);
	  }
	  .tw-interactable--hover {
		background-color: var(--ffz-color-8);
		color: var(--ffz-color-4);
	  }
	  .tw-interactable {
		&:hover {
		  background-color: var(--ffz-color-8);
		  color: var(--ffz-color-4);
		}
		&:active {
		  background-color: var(--ffz-color-3);
		  color: var(--ffz-color-4);
		}
		&:focus {
		  -webkit-box-shadow: 0 0 6px 0 var(--ffz-color-5), inset 0 0 0 1px var(--ffz-color-5);
		  box-shadow: 0 0 6px 0 var(--ffz-color-5), inset 0 0 0 1px var(--ffz-color-5);
		}
	  }
	  .tw-interactable--selected {
		background-color: var(--ffz-color-26);
	  }
	  .tw-interactable--alpha {
		&.tw-interactable--hover, &:hover {
		  background-color: var(--ffz-color-40);
		}
		&:active {
		  background-color: var(--ffz-color-41);
		}
		&:focus {
		  -webkit-box-shadow: 0 0 6px 0 var(--ffz-color-5), inset 0 0 0 1px var(--ffz-color-5);
		  box-shadow: 0 0 6px 0 var(--ffz-color-5), inset 0 0 0 1px var(--ffz-color-5);
		}
		&.tw-interactable--selected {
		  background-color: var(--ffz-color-42);
		}
	  }
	  .tw-interactable--alert {
		color: var(--ffz-color-14);
	  }
	  .tw-interactable--alert--hover {
		background-color: var(--ffz-color-15);
		color: var(--ffz-color-4);
	  }
	  .tw-interactable--alert {
		&:focus, &:hover {
		  background-color: var(--ffz-color-15);
		  color: var(--ffz-color-4);
		}
	  }
	  .tw-interactable--alert--active {
		background-color: var(--ffz-color-14);
		color: var(--ffz-color-4);
	  }
	  .tw-interactable--alert {
		&:active {
		  background-color: var(--ffz-color-14);
		  color: var(--ffz-color-4);
		}
		&.tw-interactable--alpha {
		  color: var(--ffz-color-14);
		  &.tw-interactable--hover, &:focus, &:hover {
			background-color: var(--ffz-color-43);
		  }
		}
		&.tw-interactable--alpha--active, &.tw-interactable--alpha:active {
		  background-color: var(--ffz-color-44);
		}
	  }
	  .tw-group__label {
		color: var(--ffz-color-23);
	  }
	  .tw-group__optional, .tw-group__hint {
		color: var(--ffz-color-7);
	  }
	  .tw-group--error {
		.tw-group__hint, .tw-group__label {
		  color: var(--ffz-color-14);
		}
	  }
	  .tw-group__hint--error {
		color: var(--ffz-color-14);
	  }
	  .tw-live-indicator, .tw-live-indicator--pulse:after {
		background-color: var(--ffz-color-14);
	  }
	  .tw-tooltip {
		background-color: var(--ffz-color-4);
		color: var(--ffz-color-27);
		&:after {
		  background-color: var(--ffz-color-4);
		}
	  }
	  .tw-tag {
		border-color: transparent;
		background-color: var(--ffz-color-3);
		color: var(--ffz-color-4);
		&:hover {
		  border-color: transparent;
		  background-color: var(--ffz-color-5);
		}
		&:focus {
		  border-color: var(--ffz-color-29);
		  background-color: var(--ffz-color-5);
		  -webkit-box-shadow: 0 0 6px 0 var(--ffz-color-5);
		  box-shadow: 0 0 6px 0 var(--ffz-color-5);
		}
		&:active {
		  border-color: var(--ffz-color-5);
		  background-color: var(--ffz-color-3);
		  -webkit-box-shadow: 0 0 6px 0 var(--ffz-color-5);
		  box-shadow: 0 0 6px 0 var(--ffz-color-5);
		}
		&:disabled {
		  border-color: var(--ffz-color-6);
		  background-color: var(--ffz-color-6);
		  color: var(--ffz-color-7);
		  box-shadow: none;
		  &:active, &:focus {
			border-color: var(--ffz-color-6);
			background-color: var(--ffz-color-6);
			color: var(--ffz-color-7);
			box-shadow: none;
		  }
		}
	  }
	  .tw-tag__close:after {
		border-left-color: var(--ffz-color-20);
	  }
	  .tw-pill {
		background-color: var(--ffz-color-26);
		color: var(--ffz-color-4);
	  }
	  .tw-pill--alt {
		background-color: var(--ffz-color-28);
	  }
	  .tw-pill--alt2 {
		background-color: var(--ffz-color-7);
	  }
	  .tw-pill--brand {
		background-color: var(--ffz-color-2);
	  }
	  .tw-pill--live, .tw-pill--notification {
		background-color: var(--ffz-color-14);
	  }
	  .tw-pill--warn {
		background-color: var(--ffz-color-39);
	  }
	  .tw-pill--alert {
		background-color: var(--ffz-color-14);
	  }
	  .tw-pill--success {
		background-color: var(--ffz-color-18);
	  }
	  .tw-pill--prime {
		background-color: var(--ffz-color-32);
	  }
	  .tw-pill--overlay {
		background-color: var(--ffz-color-25);
		-webkit-box-shadow: 0 0 0 1px var(--ffz-color-34);
		box-shadow: 0 0 0 1px var(--ffz-color-34);
	  }
	  .tw-progress-bar {
		background-color: transparent;
	  }
	  .tw-progress-bar__fill {
		background-color: var(--ffz-color-29);
	  }
	  .tw-progress-bar--error {
		background-color: var(--ffz-color-14);
	  }
	  .tw-progress-bar--caution {
		background-color: var(--ffz-color-30);
	  }
	  .tw-progress-bar--success {
		background-color: var(--ffz-color-18);
	  }
	  .tw-progress-bar--countdown .tw-progress-bar__fill {
		background-color: var(--ffz-color-29);
	  }
	  .tw-progress-bar--mask {
		background-color: var(--ffz-color-26);
	  }
	  .tw-radio__input {
		color: var(--ffz-color-23);
		&:checked + .tw-radio__label:after {
		  background-color: var(--ffz-color-5);
		}
		&:focus + .tw-radio__label:before {
		  -webkit-box-shadow: inset 0 0 0 1px var(--ffz-color-5), 0 0 6px -2px var(--ffz-color-5);
		  box-shadow: inset 0 0 0 1px var(--ffz-color-5), 0 0 6px -2px var(--ffz-color-5);
		}
	  }
	  .tw-radio__label {
		color: var(--ffz-color-23);
		&:before {
		  -webkit-box-shadow: inset 0 0 0 1px var(--ffz-color-26), 0 0 0 transparent;
		  box-shadow: inset 0 0 0 1px var(--ffz-color-26), 0 0 0 transparent;
		  background-color: var(--ffz-color-27);
		}
		&:after {
		  background-color: var(--ffz-color-27);
		}
	  }
	  .tw-radio--error .tw-radio__label:before {
		-webkit-box-shadow: inset 0 0 0 1px var(--ffz-color-14), 0 0 0 transparent;
		box-shadow: inset 0 0 0 1px var(--ffz-color-14), 0 0 0 transparent;
	  }
	  .tw-toggle__input {
		&:focus + .tw-toggle__button {
		  background-color: var(--ffz-color-8);
		  -webkit-box-shadow: 0 0 6px -2px var(--ffz-color-5), inset 0 0 0 1px var(--ffz-color-5);
		  box-shadow: 0 0 6px -2px var(--ffz-color-5), inset 0 0 0 1px var(--ffz-color-5);
		}
		&:checked + .tw-toggle__button {
		  background-color: var(--ffz-color-18);
		  &:before {
			border-bottom-color: var(--ffz-color-4);
			border-left-color: var(--ffz-color-4);
		  }
		}
	  }
	  .tw-toggle__button {
		background-color: var(--ffz-color-8);
		&:hover {
		  background-color: var(--ffz-color-8);
		}
		&:after {
		  background-color: var(--ffz-color-4);
		}
	  }
	  .tw-toggle--error .tw-toggle__button {
		-webkit-box-shadow: inset 0 0 0 1px var(--ffz-color-14), 0 0 0 transparent;
		box-shadow: inset 0 0 0 1px var(--ffz-color-14), 0 0 0 transparent;
	  }
	  .tw-range {
		background-color: transparent;
		box-shadow: none;
		&:active, &:focus, &:hover {
		  background-color: transparent;
		  box-shadow: none;
		}
		&::-moz-range-track, &::-ms-track {
		  background-color: var(--ffz-color-26);
		  box-shadow: inset 0 0 0 1px var(--ffz-color-26);
		}
		&::-webkit-slider-runnable-track {
		  background-color: var(--ffz-color-26);
		  -webkit-box-shadow: var(--ffz-color-26) 0 0 0 1px inset;
		  box-shadow: inset 0 0 0 1px var(--ffz-color-26);
		}
		&::-moz-range-thumb, &::-ms-thumb {
		  box-shadow: inset 0 0 0 1px var(--ffz-color-26);
		}
		&::-webkit-slider-thumb {
		  -webkit-box-shadow: var(--ffz-color-26) 0 0 0 1px inset;
		  box-shadow: inset 0 0 0 1px var(--ffz-color-26);
		}
		&::-ms-fill-lower, &::-ms-fill-upper {
		  background-color: var(--ffz-color-26);
		  box-shadow: inset 0 0 0 1px var(--ffz-color-26);
		}
		&:focus {
		  &::-moz-range-thumb, &::-ms-thumb {
			box-shadow: inset 0 0 0 1px var(--ffz-color-5), 0 0 6px -2px var(--ffz-color-5);
		  }
		  &::-webkit-slider-thumb {
			-webkit-box-shadow: var(--ffz-color-5) 0 0 0 1px inset, 0 0 6px -2px var(--ffz-color-5);
			box-shadow: inset 0 0 0 1px var(--ffz-color-5), 0 0 6px -2px var(--ffz-color-5);
		  }
		}
	  }
	  .tw-range--error {
		&::-moz-range-thumb, &::-ms-thumb {
		  box-shadow: inset 0 0 0 1px var(--ffz-color-14);
		}
		&::-webkit-slider-thumb {
		  -webkit-box-shadow: var(--ffz-color-14) 0 0 0 1px inset;
		  box-shadow: inset 0 0 0 1px var(--ffz-color-14);
		}
	  }
	  .tw-segmented-button-option {
		border-color: var(--ffz-color-8);
		background-color: transparent;
		color: var(--ffz-color-1);
		&:hover {
		  border-color: var(--ffz-color-11);
		  background-color: var(--ffz-color-9);
		  color: var(--ffz-color-10);
		}
		&:focus {
		  -webkit-box-shadow: 0 0 6px 0 var(--ffz-color-5);
		  box-shadow: 0 0 6px 0 var(--ffz-color-5);
		  border-color: var(--ffz-color-11);
		  background-color: var(--ffz-color-9);
		  color: var(--ffz-color-10);
		}
		&:active {
		  border-color: var(--ffz-color-13);
		  background-color: var(--ffz-color-12);
		  color: var(--ffz-color-10);
		  -webkit-box-shadow: 0 0 6px 0 var(--ffz-color-5);
		  box-shadow: 0 0 6px 0 var(--ffz-color-5);
		}
		input {
		  &[type=checkbox]:focus + .tw-segmented-button-option__label, &[type=radio]:focus + .tw-segmented-button-option__label {
			background-color: var(--ffz-color-9);
			color: var(--ffz-color-10);
			-webkit-box-shadow: 0 0 6px 0 var(--ffz-color-5);
			box-shadow: 0 0 6px 0 var(--ffz-color-5);
		  }
		  &[type=checkbox]:active + .tw-segmented-button-option__label, &[type=radio]:active + .tw-segmented-button-option__label {
			background-color: var(--ffz-color-12);
			color: var(--ffz-color-10);
			-webkit-box-shadow: 0 0 6px 0 var(--ffz-color-5);
			box-shadow: 0 0 6px 0 var(--ffz-color-5);
		  }
		  &[type=checkbox]:checked + .tw-segmented-button-option__label, &[type=radio]:checked + .tw-segmented-button-option__label {
			background-color: var(--ffz-color-3);
			color: var(--ffz-color-4);
		  }
		  &[type=checkbox] {
			&:focus + .tw-segmented-button-option__label {
			  background-color: var(--ffz-color-9);
			  color: var(--ffz-color-10);
			  -webkit-box-shadow: 0 0 6px 0 var(--ffz-color-5);
			  box-shadow: 0 0 6px 0 var(--ffz-color-5);
			}
			&:active + .tw-segmented-button-option__label {
			  background-color: var(--ffz-color-12);
			  color: var(--ffz-color-10);
			  -webkit-box-shadow: 0 0 6px 0 var(--ffz-color-5);
			  box-shadow: 0 0 6px 0 var(--ffz-color-5);
			}
			&:checked {
			  &:focus + .tw-segmented-button-option__label {
				background-color: var(--ffz-color-5);
				color: var(--ffz-color-4);
			  }
			  &:active + .tw-segmented-button-option__label {
				background-color: var(--ffz-color-3);
				color: var(--ffz-color-4);
			  }
			}
		  }
		}
	  }
	  .tw-select {
		border-color: var(--ffz-color-26);
		background-color: var(--ffz-color-27);
		color: var(--ffz-color-23);
		&::-webkit-input-placeholder, &:-ms-input-placeholder, &::-ms-input-placeholder, &::placeholder {
		  color: var(--ffz-color-7);
		}
		&:focus {
		  border-color: var(--ffz-color-5);
		  -webkit-box-shadow: 0 0 6px -2px var(--ffz-color-5);
		  box-shadow: 0 0 6px -2px var(--ffz-color-5);
		}
	  }
	  .tw-select--hollow {
		border-color: var(--ffz-color-8);
		background-color: transparent;
		color: var(--ffz-color-1);
		&:hover {
		  background-color: var(--ffz-color-9);
		  color: var(--ffz-color-10);
		}
	  }
	  .tw-select--error {
		border-color: var(--ffz-color-14);
	  }
	  .tw-tab-nav__item:not(.tw-tab-nav__item--disabled) {
		a, button {
		  color: var(--ffz-color-28);
		}
		a:hover, button:hover {
		  -webkit-box-shadow: 0 -1px 0 var(--ffz-color-3) inset;
		  box-shadow: inset 0 -1px 0 var(--ffz-color-3);
		}
		a:focus, button:focus {
		  -webkit-box-shadow: 0 -2px 0 var(--ffz-color-3) inset, 0 4px 6px -4px var(--ffz-color-5);
		  box-shadow: inset 0 -2px 0 var(--ffz-color-3), 0 4px 6px -4px var(--ffz-color-5);
		}
		a.active, button.active {
		  color: var(--ffz-color-23);
		  -webkit-box-shadow: 0 -1px 0 var(--ffz-color-3) inset;
		  box-shadow: inset 0 -1px 0 var(--ffz-color-3);
		}
	  }
	  .tw-tab-nav__item--disabled {
		a, button, a:hover, button:hover {
		  color: var(--ffz-color-7);
		}
	  }
	  .tw-tab-nav {
		-webkit-box-shadow: inset 0 -1px 0 var(--ffz-color-26);
		box-shadow: inset 0 -1px 0 var(--ffz-color-26);
	  }
	  .tw-textarea {
		border-color: var(--ffz-color-26);
		background-color: var(--ffz-color-27);
		color: var(--ffz-color-23);
		&::-webkit-input-placeholder, &:-ms-input-placeholder, &::-ms-input-placeholder, &::placeholder {
		  color: var(--ffz-color-7);
		}
		&:focus {
		  border-color: var(--ffz-color-5);
		  -webkit-box-shadow: 0 0 6px -2px var(--ffz-color-5);
		  box-shadow: 0 0 6px -2px var(--ffz-color-5);
		}
	  }
	  .tw-textarea--error {
		border-color: var(--ffz-color-14);
	  }
	  .tw-thumbnail-card__title {
		color: var(--ffz-color-1);
	  }
	  .tw-thumbnail-card a:hover .tw-thumbnail-card__title {
		color: var(--ffz-color-2);
	  }
	  .tw-typeset {
		p code {
		  background-color: var(--ffz-color-27);
		}
		pre {
		  border-color: var(--ffz-color-20);
		  background-color: var(--ffz-color-27);
		}
		blockquote {
		  border-left-color: var(--ffz-color-3);
		}
		hr {
		  border-bottom-color: var(--ffz-color-20);
		}
	  }
	  .passport-modal {
		background-color: var(--ffz-color-4);
	  }
	  .scrollable-area .simplebar-track .simplebar-scrollbar {
		background-color: var(--ffz-color-0);
	  }
	  .language-selector__list--border-right {
		border-right-color: var(--ffz-color-20);
	  }
	  .persistent-notification__read {
		background-color: var(--ffz-color-0);
	  }
	  .persistent-notification__unread {
		background-color: var(--ffz-color-27);
	  }
	  .onsite-notification-toast {
		-webkit-box-shadow: 0 0 6px -2px var(--ffz-color-5);
		box-shadow: 0 0 6px -2px var(--ffz-color-5);
	  }
	  .onsite-notification-toast--hover, .onsite-notification-toast:hover {
		-webkit-box-shadow: 0 0 6px 0 var(--ffz-color-5);
		box-shadow: 0 0 6px 0 var(--ffz-color-5);
	  }
	  .search-live-result-card__info {
		color: var(--ffz-color-24);
	  }
	  .search-result-view__titlesep {
		color: var(--ffz-color-7);
		background-color: var(--ffz-color-21);
		&:hover {
		  background-color: var(--ffz-color-27);
		  color: var(--ffz-color-2);
		}
	  }
	  .search-title-bar {
		background-color: var(--ffz-color-27);
		border-bottom-color: var(--ffz-color-20);
	  }
	  .search-panel__highlight-link {
		color: var(--ffz-color-2);
	  }
	  .search-panel__link {
		color: var(--ffz-color-7);
	  }
	  .search-panel__card:hover {
		.search-panel__highlight-link, .search-panel__link {
		  color: var(--ffz-color-4);
		}
	  }
	  .notice-wrap__title, .notice-wrap__text {
		color: var(--ffz-color-7);
	  }
	  .blue-bar {
		background-color: var(--ffz-color-32);
	  }
	  .blue-bar__link {
		color: var(--ffz-color-1);
		&:hover {
		  color: var(--ffz-color-2);
		}
	  }
	  .top-nav__home-link {
		color: var(--ffz-color-4);
		&:hover {
		  color: var(--ffz-color-4);
		}
	  }
	  .top-nav__menu {
		background-color: var(--ffz-color-26);
	  }
	  .top-nav__nav-link {
		&.active, &:hover {
		  color: var(--ffz-color-4);
		}
	  }
	  .top-nav__beta-badge {
		background-color: var(--ffz-color-14);
		color: var(--ffz-color-4);
		&:hover {
		  background-color: var(--ffz-color-15);
		  color: var(--ffz-color-4);
		}
	  }
	  .follow-btn__dropdown-toggle {
		background-color: var(--ffz-color-49);
		color: var(--ffz-color-7);
	  }
	  .autocomplete-balloon__item {
		color: var(--ffz-color-2);
	  }
	  .autocomplete-balloon__item--selected {
		background-color: var(--ffz-color-5);
		color: var(--ffz-color-4);
	  }
	  .emote-picker__emote-link:hover {
		background-color: var(--ffz-color-40);
	  }
	  .emote-picker__tab {
		color: var(--ffz-color-2);
		&:hover {
		  border-top-color: var(--ffz-color-3);
		}
	  }
	  .emote-picker__tab--active {
		color: var(--ffz-color-23);
		border-top-color: var(--ffz-color-3);
	  }
	  .emote-picker__tab--disabled {
		color: var(--ffz-color-7);
	  }
	  .emote-picker__content-block:not(:first-child) {
		border-top-color: var(--ffz-color-20);
	  }
	  .thread-header__title-bar-container {
		background-color: var(--ffz-color-21);
		-webkit-box-shadow: inset 0 0 0 1px var(--ffz-color-20), 0 2px 0 var(--ffz-color-47);
		box-shadow: inset 0 0 0 1px var(--ffz-color-20), 0 2px 0 var(--ffz-color-47);
	  }
	  .thread-header__title-bar-container--focused {
		background-color: var(--ffz-color-27);
	  }
	  .thread-header__title-bar-container--highlighted {
		background-color: var(--ffz-color-3);
		color: var(--ffz-color-4);
	  }
	  .thread-header__activity-link--highlighted {
		color: var(--ffz-color-23);
		&:hover {
		  color: var(--ffz-color-23);
		}
	  }
	  .user-card__overlay {
		background-color: var(--ffz-color-25);
	  }
	  .user-card__status-btn {
		background-color: var(--ffz-color-18);
		border-color: var(--ffz-color-18);
		&:hover {
		  background-color: var(--ffz-color-14);
		  border-color: var(--ffz-color-18);
		}
	  }
	  .verify-email-banner {
		background-color: var(--ffz-color-20);
		&:hover {
		  background-color: var(--ffz-color-0);
		}
	  }
	  .verify-email-banner__body {
		color: var(--ffz-color-4);
	  }
	  .verify-email-banner--success {
		background-color: var(--ffz-color-18);
		&:hover {
		  background-color: var(--ffz-color-19);
		}
	  }
	  .verify-email-banner--error {
		background-color: var(--ffz-color-14);
		&:hover {
		  background-color: var(--ffz-color-15);
		}
	  }
	  .right-column__toggle-visibility {
		background-color: var(--ffz-color-0);
		color: var(--ffz-color-1);
	  }
	  .side-nav-card__link {
		background-color: var(--ffz-color-21);
		&:hover {
		  background-color: var(--ffz-color-20);
		}
	  }
	  .side-nav-card__title {
		color: var(--ffz-color-24);
	  }
	  .side-nav-card__metadata {
		color: var(--ffz-color-7);
	  }
	  .side-nav-card:hover {
		.side-nav-card__title {
		  color: var(--ffz-color-1);
		}
		.side-nav-card__metadata {
		  color: var(--ffz-color-24);
		}
	  }
	  .side-nav-show-more-toggle__button {
		color: var(--ffz-color-7);
		&:hover {
		  color: var(--ffz-color-24);
		  background-color: var(--ffz-color-21);
		}
	  }
	  .side-nav__overlay-wrapper, .side-nav__theme-wrapper {
		background-color: var(--ffz-color-21);
	  }
	  .side-nav__toggle-visibility {
		background-color: var(--ffz-color-0);
		color: var(--ffz-color-1);
	  }
	  .channel-header__subscription-balloon-options {
		.subscription-balloon-options__prime-crown {
		  color: var(--ffz-color-32);
		}
		.subscription-balloon-options__subbed-message, .subscription-balloon-options__subbed-star {
		  color: var(--ffz-color-18);
		}
	  }
	  .balloon-subscribed-user__gift-upgrade-info {
		color: var(--ffz-color-18);
	  }
	  .persistent-player__hover-controls {
		background-color: var(--ffz-color-25);
	  }
	  .persistent-player__title {
		background-color: var(--ffz-color-20);
		color: var(--ffz-color-23);
	  }
	  .whispers-list-item:hover {
		background-color: var(--ffz-color-27);
	  }
	  .footer__link {
		color: var(--ffz-color-4);
		&:hover {
		  color: var(--ffz-color-4);
		}
	  }
	  .carousel-nav__item {
		border-bottom-color: var(--ffz-color-20);
	  }
	  .carousel-nav__item--active {
		border-bottom-color: var(--ffz-color-3);
	  }
	  .carousel-nav__img-container {
		background-color: var(--ffz-color-25);
	  }
	  .carousel-nav__meta {
		color: var(--ffz-color-4);
	  }
	  .live-channel-card__meta {
		color: var(--ffz-color-7);
	  }
	  .live-channel-card__channel {
		color: var(--ffz-color-1);
	  }
	  .live-channel-card__videos {
		color: var(--ffz-color-7);
	  }
	  .live-channel-card__channel:hover, .live-channel-card__videos:hover {
		color: var(--ffz-color-2);
	  }
	  .live-channel-card__boxart {
		border-color: var(--ffz-color-0);
	  }
	  .anon-front__social-container {
		background-color: var(--ffz-color-0);
	  }
	  .platform-filter--active {
		background-color: var(--ffz-color-26);
	  }
	  .platform-filter {
		&:hover {
		  background-color: var(--ffz-color-8);
		  color: var(--ffz-color-4);
		}
		&:active {
		  background-color: var(--ffz-color-3);
		  color: var(--ffz-color-4);
		}
	  }
	  .follow-game-card__overlay {
		background-color: var(--ffz-color-25);
		color: var(--ffz-color-23);
		&:hover {
		  border-color: var(--ffz-color-3);
		}
	  }
	  .follow-game-card__overlay--followed {
		border-color: var(--ffz-color-26);
	  }
	  .community-streams-row__title a {
		color: var(--ffz-color-7);
		&:hover {
		  color: var(--ffz-color-2);
		}
	  }
	  .bits-buy-card-offer-row__sub-text, .bits-buy-card__close {
		color: var(--ffz-color-7);
	  }
	  .channel-header {
		background-color: var(--ffz-color-0);
		border-bottom-color: var(--ffz-color-20);
	  }
	  .channel-header__item {
		color: var(--ffz-color-1);
		&:before {
		  background-color: var(--ffz-color-20);
		}
	  }
	  .channel-header__item--selected, .channel-header__item:hover {
		color: var(--ffz-color-2);
	  }
	  .channel-header__item--selected:after, .channel-header__item:hover:after {
		border-bottom-color: var(--ffz-color-26);
	  }
	  .channel-header__item--selected {
		&:after, &:hover:after {
		  border-bottom-color: var(--ffz-color-3);
		}
	  }
	  .channel-header__item:active:after {
		border-bottom-color: var(--ffz-color-3);
	  }
	  .channel-header__item-count {
		color: var(--ffz-color-7);
	  }
	  .channel-header__dropdown-hover-target:hover .channel-header__item-count, .channel-header .interactable:hover .channel-header__item-count {
		color: var(--ffz-color-24);
	  }
	  .channel-header__user {
		color: var(--ffz-color-1);
		&:hover {
		  color: var(--ffz-color-2);
		  .channel-header__user-avatar:after {
			border-bottom-color: var(--ffz-color-26);
		  }
		}
	  }
	  .channel-header__user--selected {
		.channel-header__user-avatar:after, &:hover .channel-header__user-avatar:after {
		  border-bottom-color: var(--ffz-color-3);
		}
	  }
	  .channel-header__user:active .channel-header__user-avatar:after {
		border-bottom-color: var(--ffz-color-3);
	  }
	  .channel-header__verified {
		color: var(--ffz-color-2);
	  }
	  .chat-share-prompt {
		color: var(--ffz-color-23);
	  }
	  .raid-countdown-bar__fill {
		background-color: var(--ffz-color-29);
	  }
	  .chat-card__link:hover .chat-card__title {
		color: var(--ffz-color-2);
	  }
	  .chat-card__title {
		color: var(--ffz-color-1);
	  }
	  .chat-line__purchase {
		background-color: var(--ffz-color-0);
	  }
	  .chat-line__purchase-loot-drawer {
		background-color: var(--ffz-color-27);
	  }
	  .chat-line__purchase-reward-text {
		color: var(--ffz-color-7);
	  }
	  .chat-line__message--mention-sender {
		background-color: var(--ffz-color-8);
	  }
	  .chat-line__message--mention-recipient {
		background-color: var(--ffz-color-28);
		color: var(--ffz-color-27);
	  }
	  .chat-line__message--special {
		background-color: var(--ffz-color-27);
	  }
	  .chat-line__moderation, .chat-line__status, .chat-line__mod-icons .mod-icon, .chat-line__bits-charity, .chat-line__raid, .chat-line__subscribe {
		color: var(--ffz-color-7);
	  }
	  .chat-line__bits-charity--prime, .chat-line__raid--prime, .chat-line__subscribe--prime {
		color: var(--ffz-color-2);
	  }
	  .chat-line__bits-charity--message, .chat-line__raid--message, .chat-line__subscribe--message {
		color: var(--ffz-color-24);
	  }
	  .chat-line__timestamp {
		color: var(--ffz-color-7);
	  }
	  .pinned-cheer__bounding-box {
		background-color: var(--ffz-color-0);
		border-bottom-color: var(--ffz-color-20);
	  }
	  .pinned-cheer__headline {
		color: var(--ffz-color-2);
	  }
	  .pinned-cheer__progress-bar {
		background-color: var(--ffz-color-0);
	  }
	  .cheermote-list .cheermote-list__item-button {
		&[disabled] {
		  background-color: var(--ffz-color-26);
		}
		&:focus:not([disabled]), &:hover:not([disabled]) {
		  background-color: var(--ffz-color-26);
		  -webkit-box-shadow: 0 1px 5px var(--ffz-color-26);
		  box-shadow: 0 1px 5px var(--ffz-color-26);
		}
	  }
	  .t-bits-card__footer {
		background-color: var(--ffz-color-20);
		color: var(--ffz-color-23);
	  }
	  .t-bits-card__top-controls {
		color: var(--ffz-color-7);
	  }
	  .color-chooser--selected {
		-webkit-box-shadow: 0 0 0 3px var(--ffz-color-26);
		box-shadow: 0 0 0 3px var(--ffz-color-26);
	  }
	  .color-chooser:hover {
		-webkit-box-shadow: 0 0 0 3px var(--ffz-color-8);
		box-shadow: 0 0 0 3px var(--ffz-color-8);
	  }
	  .edit-appearance__badge-chooser--selected {
		background-color: var(--ffz-color-26);
	  }
	  .edit-appearance__badge-chooser:hover {
		background-color: var(--ffz-color-8);
	  }
	  .edit-appearance__badge-chooser__none {
		color: var(--ffz-color-7);
		background-color: var(--ffz-color-27);
	  }
	  .recent-raids-item:hover {
		background-color: var(--ffz-color-21);
		.recent-raids-item__title {
		  color: var(--ffz-color-1);
		}
		.recent-raids-item__metadata {
		  color: var(--ffz-color-24);
		}
	  }
	  .recent-raids-item__hover-content {
		background-color: var(--ffz-color-21);
	  }
	  .chat-settings__highlight-indicator {
		background-color: var(--ffz-color-26);
	  }
	  .chat-list__more-messages {
		color: var(--ffz-color-23);
		background-color: var(--ffz-color-25);
	  }
	  .chat-viewers-list__button {
		color: var(--ffz-color-2);
	  }
	  .chat-viewers__pane {
		background-color: var(--ffz-color-27);
		color: var(--ffz-color-24);
	  }
	  .chat-viewers__header {
		border-bottom-color: var(--ffz-color-20);
		background-color: var(--ffz-color-21);
	  }
	  .viewer-card__display-name-link {
		color: var(--ffz-color-4);
		&:hover {
		  color: var(--ffz-color-4);
		}
	  }
	  .chat-room__pane {
		background-color: var(--ffz-color-27);
		border-left-color: var(--ffz-color-20);
	  }
	  .chat-room__header {
		-webkit-box-shadow: inset 0 -1px 0 0 var(--ffz-color-20);
		box-shadow: inset 0 -1px 0 0 var(--ffz-color-20);
		background-color: var(--ffz-color-21);
	  }
	  .social-button__link--copy:after {
		color: var(--ffz-color-3);
	  }
	  .social-button__link--facebook:after {
		color: var(--ffz-color-50);
	  }
	  .social-button__link--vkontakte:after {
		color: var(--ffz-color-51);
	  }
	  .social-button__link--twitter:after {
		color: var(--ffz-color-52);
	  }
	  .social-button__link--reddit:after {
		color: var(--ffz-color-53);
	  }
	  .social-button__icon--reddit {
		background-color: var(--ffz-color-53);
	  }
	  .social-button__icon--twitter {
		background-color: var(--ffz-color-52);
	  }
	  .social-button__icon--vkontakte {
		background-color: var(--ffz-color-51);
	  }
	  .social-button__icon--facebook {
		background-color: var(--ffz-color-50);
	  }
	  .social-button__icon--copy {
		background-color: var(--ffz-color-3);
	  }
	  .clips-preview-card__boxart {
		border-color: var(--ffz-color-0);
	  }
	  .clips-preview-card__title {
		color: var(--ffz-color-1);
	  }
	  .clips-preview-card__display-name {
		color: var(--ffz-color-7);
	  }
	  .collection-card__link {
		color: var(--ffz-color-1);
		&:hover {
		  color: var(--ffz-color-2);
		}
	  }
	  .media-carousel__button--inset, .media-carousel:hover .media-carousel__button {
		background-color: var(--ffz-color-0);
	  }
	  .commerce-content {
		background-color: var(--ffz-color-21);
	  }
	  .fuel-bar {
		background-color: var(--ffz-color-0);
	  }
	  .embed-card__overlay {
		background-color: var(--ffz-color-25);
		color: var(--ffz-color-23);
		&:hover .embed-card__play {
		  color: var(--ffz-color-24);
		}
	  }
	  .channel-info-bar {
		background-color: var(--ffz-color-0);
	  }
	  .channel-info-bar__action-container {
		border-top-color: var(--ffz-color-20);
	  }
	  .t-extension-panel__top-controls {
		color: var(--ffz-color-7);
	  }
	  .channel-page__data-error-notice {
		color: var(--ffz-color-14);
		border-color: var(--ffz-color-14) !important;
	  }
	  .video-preview-card__video-title {
		color: var(--ffz-color-1);
	  }
	  .video-preview-card__owner-display-name {
		color: var(--ffz-color-7);
		&:hover {
		  color: var(--ffz-color-2);
		}
	  }
	  .video-preview-card__video-title:hover {
		color: var(--ffz-color-2);
	  }
	  .video-carousel:hover .video-carousel__button {
		background-color: var(--ffz-color-0);
	  }
	  .video-filters--active {
		background-color: var(--ffz-color-26);
	  }
	  .video-filters {
		&:hover {
		  background-color: var(--ffz-color-8);
		  color: var(--ffz-color-4);
		}
		&:active {
		  background-color: var(--ffz-color-3);
		  color: var(--ffz-color-4);
		}
	  }
	  .clmgr-table__row-expanded {
		border-color: var(--ffz-color-3);
	  }
	  .clmgr-result__subtitle {
		color: var(--ffz-color-7);
	  }
	  .clmgr-result:hover .clmgr-result__subtitle {
		color: var(--ffz-color-4);
	  }
	  .clmgr-table__row {
		background-color: var(--ffz-color-0);
		&:nth-child(2n) {
		  background-color: var(--ffz-color-21);
		}
		&:hover {
		  background-color: var(--ffz-color-27);
		}
	  }
	  .event {
		background-color: var(--ffz-color-0);
	  }
	  .event__header {
		color: var(--ffz-color-23);
	  }
	  .event__header-overlay {
		background-color: var(--ffz-color-25);
	  }
	  .event__video:before {
		background-color: var(--ffz-color-20);
	  }
	  .event__broadcast-wrapper:hover .event__broadcast {
		border-left-color: var(--ffz-color-8);
		&:before {
		  background-color: var(--ffz-color-8);
		}
	  }
	  .event__broadcast {
		border-left-color: var(--ffz-color-20);
	  }
	  .event__broadcast-details {
		color: var(--ffz-color-7);
	  }
	  .event__broadcast:before {
		background-color: var(--ffz-color-20);
	  }
	  .directory-header__link {
		color: var(--ffz-color-24);
		&:hover {
		  color: var(--ffz-color-24);
		}
	  }
	  .directory-tabs {
		background-color: var(--ffz-color-0);
		border-bottom-color: var(--ffz-color-20);
	  }
	  .directory-tabs__item {
		color: var(--ffz-color-1);
		&:before {
		  background-color: var(--ffz-color-20);
		}
	  }
	  .directory-tabs__item--selected, .directory-tabs__item:hover {
		color: var(--ffz-color-2);
	  }
	  .directory-tabs__item--selected:after, .directory-tabs__item:hover:after {
		border-bottom-color: var(--ffz-color-26);
	  }
	  .directory-tabs__item--selected {
		&:after, &:hover:after {
		  border-bottom-color: var(--ffz-color-3);
		}
	  }
	  .directory-tabs__item:active:after {
		border-bottom-color: var(--ffz-color-3);
	  }
	  .search-card-row:hover .search-card-row__link {
		color: var(--ffz-color-4);
	  }
	  .vod-message__timestamp {
		color: var(--ffz-color-7);
	  }
	  .video-chat__message-author {
		color: var(--ffz-color-2);
	  }
	  .video-chat__message-author--creator, .video-chat__message-author--me {
		color: var(--ffz-color-4);
		&:hover {
		  color: var(--ffz-color-4);
		}
	  }
	  .video-chat-reply-button {
		color: var(--ffz-color-2);
		.video-chat-reply-button__icon {
		  color: var(--ffz-color-7);
		}
		&:focus .video-chat-reply-button__icon, &:hover .video-chat-reply-button__icon {
		  color: var(--ffz-color-2);
		}
	  }
	  .vod-message__show-more-replies {
		color: var(--ffz-color-2);
	  }
	  .vod-message__reply {
		-webkit-box-shadow: inset 3px 0 0 0 var(--ffz-color-56);
		box-shadow: inset 3px 0 0 0 var(--ffz-color-56);
	  }
	  .vod-message {
		&.vod-message--focused {
		  -webkit-box-shadow: inset 0 0 0 1px var(--ffz-color-5);
		  box-shadow: inset 0 0 0 1px var(--ffz-color-5);
		  background-color: var(--ffz-color-20);
		}
		&:hover {
		  background-color: var(--ffz-color-20);
		}
		&.vod-message--focused .vod-message__timestamp, &:hover .vod-message__timestamp {
		  background-color: var(--ffz-color-3);
		}
		&.vod-message--focused .vod-message__timestamp, &:hover .vod-message__timestamp {
		  color: var(--ffz-color-4);
		}
		&.vod-message--focused .vod-message__timestamp:hover, &:hover .vod-message__timestamp:hover {
		  background-color: var(--ffz-color-5);
		}
		&.vod-message--focused .vod-message__reply, &:hover .vod-message__reply {
		  -webkit-box-shadow: inset 3px 0 0 0 var(--ffz-color-16);
		  box-shadow: inset 3px 0 0 0 var(--ffz-color-16);
		}
	  }
	  .video-chat__message-list-wrapper::-webkit-scrollbar-thumb {
		border-color: var(--ffz-color-21);
	  }
	  .video-chat__sync-button {
		background-color: var(--ffz-color-54);
		color: var(--ffz-color-55);
		&:focus, &:hover {
		  background-color: var(--ffz-color-24);
		}
		&:focus, &:hover {
		  color: var(--ffz-color-55);
		}
	  }
	  .video-chat {
		background-color: var(--ffz-color-27);
	  }
	  .video-chat__input {
		-webkit-box-shadow: inset 0 1px 0 0 var(--ffz-color-20);
		box-shadow: inset 0 1px 0 0 var(--ffz-color-20);
	  }
	  .video-chat__header {
		-webkit-box-shadow: inset 0 -1px 0 0 var(--ffz-color-20);
		box-shadow: inset 0 -1px 0 0 var(--ffz-color-20);
	  }
	  .video-delete-modal__error-container {
		border-color: var(--ffz-color-14);
	  }
	  .video-info-bar__action-container {
		border-top-color: var(--ffz-color-20);
	  }
	  body {
		background-color: var(--ffz-color-0);
		color: var(--ffz-color-1);
	  }
	  a {
		color: var(--ffz-color-2);
		&:hover {
		  color: var(--ffz-color-2);
		}
	  }
	  .tw-border {
		border-color: var(--ffz-color-20) !important;
	  }
	  .tw-border-t {
		border-top-color: var(--ffz-color-20) !important;
	  }
	  .tw-border-r {
		border-right-color: var(--ffz-color-20) !important;
	  }
	  .tw-border-b {
		border-bottom-color: var(--ffz-color-20) !important;
	  }
	  .tw-border-l {
		border-left-color: var(--ffz-color-20) !important;
	  }
	  .tw-border--marked {
		border-left-color: var(--ffz-color-3) !important;
	  }
	  .tw-c-background-body {
		background-color: var(--ffz-color-21) !important;
	  }
	  .tw-c-background {
		background-color: var(--ffz-color-0) !important;
	  }
	  .tw-c-background-alt {
		background-color: var(--ffz-color-21) !important;
	  }
	  .tw-c-background-alt-2 {
		background-color: var(--ffz-color-27) !important;
	  }
	  .tw-c-background-accent {
		background-color: var(--ffz-color-3) !important;
	  }
	  .tw-c-background-accent-alt {
		background-color: var(--ffz-color-26) !important;
	  }
	  .tw-c-background-accent-alt-2 {
		background-color: var(--ffz-color-20) !important;
	  }
	  .tw-c-background-placeholder {
		background-color: var(--ffz-color-6) !important;
	  }
	  .tw-c-background-overlay-placeholder {
		background-color: var(--ffz-color-31) !important;
	  }
	  .tw-c-background-live {
		background-color: var(--ffz-color-14) !important;
	  }
	  .tw-c-background-prime {
		background-color: var(--ffz-color-32) !important;
	  }
	  .tw-c-background-tooltip {
		background-color: var(--ffz-color-4) !important;
	  }
	  .tw-c-background-overlay {
		background-color: var(--ffz-color-25) !important;
	  }
	  .tw-c-background-top-nav {
		background-color: var(--ffz-color-26) !important;
	  }
	  .tw-c-background-chat {
		background-color: var(--ffz-color-27) !important;
	  }
	  .tw-c-background-chat-alt {
		background-color: var(--ffz-color-0) !important;
	  }
	  .tw-c-background-chat-header {
		background-color: var(--ffz-color-21) !important;
	  }
	  .tw-c-background-chat-line-mentioning {
		background-color: var(--ffz-color-26) !important;
	  }
	  .tw-c-background-chat-line-mentioned {
		background-color: var(--ffz-color-10) !important;
	  }
	  .tw-c-background-modal-overlay {
		background-color: var(--ffz-color-25) !important;
	  }
	  .tw-c-background-modal {
		background-color: var(--ffz-color-0) !important;
	  }
	  .tw-c-background-graph {
		background-color: var(--ffz-color-21) !important;
	  }
	  .tw-c-background-graph-fill {
		background-color: var(--ffz-color-5) !important;
	  }
	  .tw-c-background-scrollbar {
		background-color: var(--ffz-color-0) !important;
	  }
	  .tw-c-text {
		color: var(--ffz-color-1) !important;
	  }
	  .tw-c-text-alt {
		color: var(--ffz-color-24) !important;
	  }
	  .tw-c-text-alt-2 {
		color: var(--ffz-color-7) !important;
	  }
	  .tw-c-text-link, .tw-c-text-link-hover, .tw-c-text-link-active, .tw-c-text-link-visited {
		color: var(--ffz-color-2) !important;
	  }
	  .tw-c-text-alert, .tw-c-text-live {
		color: var(--ffz-color-14) !important;
	  }
	  .tw-c-text-prime {
		color: var(--ffz-color-32) !important;
	  }
	  .tw-c-text-hint {
		color: var(--ffz-color-7) !important;
	  }
	  .tw-c-text-error {
		color: var(--ffz-color-14) !important;
	  }
	  .tw-c-text-tooltip {
		color: var(--ffz-color-27) !important;
	  }
	  .tw-c-text-overlay {
		color: var(--ffz-color-23) !important;
	  }
	  .tw-c-text-overlay-alt {
		color: var(--ffz-color-24) !important;
	  }
	  .tw-c-text-chat-line-mentioning {
		color: var(--ffz-color-4) !important;
	  }
	  .tw-c-text-chat-line-mentioned {
		color: var(--ffz-color-33) !important;
	  }
	  .tw-c-border {
		border-color: var(--ffz-color-20) !important;
	  }
	  .tw-c-border-overlay {
		border-color: var(--ffz-color-34) !important;
	  }
	  .tw-c-border-brand {
		border-color: var(--ffz-color-3) !important;
	  }
	  .tw-c-border-alert, .tw-c-border-error {
		border-color: var(--ffz-color-14) !important;
	  }
	  .tw-c-border-whisper-incoming {
		border-color: var(--ffz-color-2) !important;
	  }
	  .tw-c-border-whisper-outgoing {
		border-color: var(--ffz-color-35) !important;
	  }
	  .tw-c-border-spinner {
		border-color: var(--ffz-color-31) !important;
	  }
	  .tw-c-border-spinner-fill {
		border-color: var(--ffz-color-1) !important;
	  }
	  .tw-elevation-1 {
		-webkit-box-shadow: 0 2px 4px -1px var(--ffz-color-36), 0 2px 2px -2px var(--ffz-color-37), 0 1px 4px 0 var(--ffz-color-38) !important;
		box-shadow: 0 2px 4px -1px var(--ffz-color-36), 0 2px 2px -2px var(--ffz-color-37), 0 1px 4px 0 var(--ffz-color-38) !important;
	  }
	  .tw-elevation-2 {
		-webkit-box-shadow: 0 4px 6px -2px var(--ffz-color-36), 0 3px 4px -2px var(--ffz-color-37), 0 1px 8px 0 var(--ffz-color-38) !important;
		box-shadow: 0 4px 6px -2px var(--ffz-color-36), 0 3px 4px -2px var(--ffz-color-37), 0 1px 8px 0 var(--ffz-color-38) !important;
	  }
	  .tw-elevation-3 {
		-webkit-box-shadow: 0 6px 10px 0 var(--ffz-color-36), 0 1px 8px -3px var(--ffz-color-37), 0 2px 16px 0 var(--ffz-color-38) !important;
		box-shadow: 0 6px 10px 0 var(--ffz-color-36), 0 1px 8px -3px var(--ffz-color-37), 0 2px 16px 0 var(--ffz-color-38) !important;
	  }
	  .tw-elevation-4 {
		-webkit-box-shadow: 0 10px 14px 4px var(--ffz-color-36), 0 6px 14px -6px var(--ffz-color-37), 0 4px 24px 0 var(--ffz-color-38) !important;
		box-shadow: 0 10px 14px 4px var(--ffz-color-36), 0 6px 14px -6px var(--ffz-color-37), 0 4px 24px 0 var(--ffz-color-38) !important;
	  }
	  .tw-elevation-5 {
		-webkit-box-shadow: 0 14px 20px 8px var(--ffz-color-36), 0 10px 22px -8px var(--ffz-color-37), 0 8px 38px 0 var(--ffz-color-38) !important;
		box-shadow: 0 14px 20px 8px var(--ffz-color-36), 0 10px 22px -8px var(--ffz-color-37), 0 8px 38px 0 var(--ffz-color-38) !important;
	  }
	  .twilight-root {
		background-color: var(--ffz-color-21);
		color: var(--ffz-color-1);
	  }
	  .mod-comment__unpublished-message {
		background-color: var(--ffz-color-26);
	  }
	  .ach-link:hover .ach-card {
		background-color: var(--ffz-color-21);
	  }
	  .ach-card {
		background-color: var(--ffz-color-0);
	  }
	  .ach-card--expanded .ach-card__inner {
		background-color: var(--ffz-color-0);
		border-color: var(--ffz-color-3);
	  }
	  .ach-q-item__header {
		&:hover {
		  background-color: var(--ffz-color-21);
		}
		background-color: var(--ffz-color-0);
	  }
	  .ach-checkmark {
		background-color: var(--ffz-color-26);
	  }
	  .ach-col::-webkit-scrollbar-thumb {
		background-color: var(--ffz-color-27);
		-webkit-box-shadow: inset 0 0 1px var(--ffz-color-34);
		box-shadow: inset 0 0 1px var(--ffz-color-34);
	  }
	  .ach-sb {
		background-color: var(--ffz-color-0);
	  }
	  .ach-sb__text {
		color: var(--ffz-color-1);
	  }
	  .dashboard-side-nav__link {
		color: var(--ffz-color-2);
	  }
	  .dashboard-side-nav__link--active {
		background-color: var(--ffz-color-26);
	  }
	  .dashboard-side-nav__link {
		&:hover {
		  background-color: var(--ffz-color-8);
		  color: var(--ffz-color-4);
		}
		&:active {
		  background-color: var(--ffz-color-3);
		  color: var(--ffz-color-4);
		}
	  }
	  .side-nav-dashboard-section__hotspot {
		background-color: var(--ffz-color-14);
	  }
	  .sm-sb-flourish-emotes__link:hover {
		.sm-sb-flourish-emotes__content, .sm-sb-flourish-emotes__text {
		  background-color: var(--ffz-color-26);
		}
	  }
	  .sm-sb-flourish-emotes__content, .sm-sb-flourish-emotes__text {
		background-color: var(--ffz-color-3);
	  }
	  .sm-sb-flourish-confetti__content {
		background-color: var(--ffz-color-0);
		&:hover {
		  background-color: var(--ffz-color-9);
		}
	  }
	  .sm-cp-card__title {
		color: var(--ffz-color-1);
	  }
	  .sm-cp-card a:hover .sm-cp-card__title {
		color: var(--ffz-color-2);
	  }
	  .sm-graph-panel {
		background-color: var(--ffz-color-3);
	  }
	  .thumbnail-selector-cropper--error {
		border-color: var(--ffz-color-14);
	  }
	  .thumbnail-selector-cropper__thumbnail-select-image:hover:before {
		background-color: var(--ffz-color-20);
	  }
	  .thumbnail-selector-cropper__thumbnail-select-image--selected {
		border-color: var(--ffz-color-3);
	  }
	  .video-card-dropdown__dropdown-wrapper {
		background-color: var(--ffz-color-0);
		color: var(--ffz-color-1);
		-webkit-box-shadow: 0 0 0 1px var(--ffz-color-20), 0 1px 1px var(--ffz-color-17);
		box-shadow: 0 0 0 1px var(--ffz-color-20), 0 1px 1px var(--ffz-color-17);
	  }
	  .video-card {
		background-color: var(--ffz-color-0);
	  }
	  .side-nav-bar {
		background-color: var(--ffz-color-27);
	  }
	  .side-nav-bar__option {
		color: var(--ffz-color-2);
	  }
	  .side-nav-bar__option--active {
		background-color: var(--ffz-color-26);
	  }
	  .side-nav-bar__option {
		&:hover {
		  background-color: var(--ffz-color-8);
		  color: var(--ffz-color-4);
		}
		&:active {
		  background-color: var(--ffz-color-3);
		  color: var(--ffz-color-4);
		}
	  }
	  .members-list-item:hover {
		background-color: var(--ffz-color-27);
	  }
	  .top-nav__home-link {
		color: var(--ffz-color-4);
	  }
	  .top-nav__menu {
		background-color: var(--ffz-color-26);
	  }
	  .community-selection-page__progress-container {
		background-color: var(--ffz-color-27);
	  }
}