.toggle-switch {
	display: flex;
	input {
		position: absolute;
		width: 0;
		height: 0;
	}
	input + label {
		color: var(--color-text-button-primary);
		flex-basis: 50%;
		padding: 0.5rem 0;
		text-align: center;
		cursor: pointer;
	}

	input:hover + label {
		background-color: var(--color-background-button-text-hover);
	}

	input:checked + label {
		background-color: var(--color-background-button-primary-hover);
		z-index: 1;
	}
	input.focus-visible + label {
		outline: 2px solid var(--ffz-color-accent-8);
	}
}
