
.ffz-i-cancel:before { content: '\e800'; } /* '' */
.ffz-i-zreknarf:before { content: '\e801'; } /* '' */
.ffz-i-search:before { content: '\e802'; } /* '' */
.ffz-i-clock:before { content: '\e803'; } /* '' */
.ffz-i-star:before { content: '\e804'; } /* '' */
.ffz-i-star-empty:before { content: '\e805'; } /* '' */
.ffz-i-down-dir:before { content: '\e806'; } /* '' */
.ffz-i-right-dir:before { content: '\e807'; } /* '' */
.ffz-i-attention:before { content: '\e808'; } /* '' */
.ffz-i-ok:before { content: '\e809'; } /* '' */
.ffz-i-cog:before { content: '\e80a'; } /* '' */
.ffz-i-plus:before { content: '\e80b'; } /* '' */
.ffz-i-folder-open:before { content: '\e80c'; } /* '' */
.ffz-i-download:before { content: '\e80d'; } /* '' */
.ffz-i-upload:before { content: '\e80e'; } /* '' */
.ffz-i-floppy:before { content: '\e80f'; } /* '' */
.ffz-i-crown:before { content: '\e810'; } /* '' */
.ffz-i-verified:before { content: '\e811'; } /* '' */
.ffz-i-heart:before { content: '\e812'; } /* '' */
.ffz-i-heart-empty:before { content: '\e813'; } /* '' */
.ffz-i-tag:before { content: '\e814'; } /* '' */
.ffz-i-tags:before { content: '\e815'; } /* '' */
.ffz-i-retweet:before { content: '\e816'; } /* '' */
.ffz-i-thumbs-up:before { content: '\e817'; } /* '' */
.ffz-i-thumbs-down:before { content: '\e818'; } /* '' */
.ffz-i-bell:before { content: '\e819'; } /* '' */
.ffz-i-pencil:before { content: '\e81a'; } /* '' */
.ffz-i-info:before { content: '\e81b'; } /* '' */
.ffz-i-help:before { content: '\e81c'; } /* '' */
.ffz-i-calendar:before { content: '\e81d'; } /* '' */
.ffz-i-left-dir:before { content: '\e81e'; } /* '' */
.ffz-i-inventory:before { content: '\e81f'; } /* '' */
.ffz-i-lock:before { content: '\e820'; } /* '' */
.ffz-i-lock-open:before { content: '\e821'; } /* '' */
.ffz-i-arrows-cw:before { content: '\e822'; } /* '' */
.ffz-i-ignore:before { content: '\e823'; } /* '' */
.ffz-i-block:before { content: '\e824'; } /* '' */
.ffz-i-pin:before { content: '\e825'; } /* '' */
.ffz-i-pin-outline:before { content: '\e826'; } /* '' */
.ffz-i-gift:before { content: '\e827'; } /* '' */
.ffz-i-discord:before { content: '\e828'; } /* '' */
.ffz-i-eye:before { content: '\e829'; } /* '' */
.ffz-i-eye-off:before { content: '\e82a'; } /* '' */
.ffz-i-views:before { content: '\e82b'; } /* '' */
.ffz-i-conversations:before { content: '\e82c'; } /* '' */
.ffz-i-channels:before { content: '\e82d'; } /* '' */
.ffz-i-camera:before { content: '\e82e'; } /* '' */
.ffz-i-cw:before { content: '\e82f'; } /* '' */
.ffz-i-up-dir:before { content: '\e830'; } /* '' */
.ffz-i-up-big:before { content: '\e831'; } /* '' */
.ffz-i-play:before { content: '\e832'; } /* '' */
.ffz-i-user:before { content: '\e833'; } /* '' */
.ffz-i-clip:before { content: '\e834'; } /* '' */
.ffz-i-minus:before { content: '\e835'; } /* '' */
.ffz-i-left-open:before { content: '\e836'; } /* '' */
.ffz-i-t-pip-active:before { content: '\e837'; } /* '' */
.ffz-i-t-pip-inactive:before { content: '\e838'; } /* '' */
.ffz-i-t-reset-clicked:before { content: '\e839'; } /* '' */
.ffz-i-t-reset:before { content: '\e83a'; } /* '' */
.ffz-i-whispers:before { content: '\e83b'; } /* '' */
.ffz-i-channel-points:before { content: '\e83c'; } /* '' */
.ffz-i-fast-fw:before { content: '\e83d'; } /* '' */
.ffz-i-comp-on:before { content: '\e83e'; } /* '' */
.ffz-i-comp-off:before { content: '\e83f'; } /* '' */
.ffz-i-viewers:before { content: '\e840'; } /* '' */
.ffz-i-chat:before { content: '\e841'; } /* '' */
.ffz-i-location:before { content: '\e842'; } /* '' */
.ffz-i-link:before { content: '\e843'; } /* '' */
.ffz-i-threads:before { content: '\e844'; } /* '' */
.ffz-i-volume-off:before { content: '\e845'; } /* '' */
.ffz-i-right-open:before { content: '\e846'; } /* '' */
.ffz-i-move:before { content: '\f047'; } /* '' */
.ffz-i-link-ext:before { content: '\f08e'; } /* '' */
.ffz-i-twitter:before { content: '\f099'; } /* '' */
.ffz-i-github:before { content: '\f09b'; } /* '' */
.ffz-i-docs:before { content: '\f0c5'; } /* '' */
.ffz-i-sort-down:before { content: '\f0dd'; } /* '' */
.ffz-i-sort-up:before { content: '\f0de'; } /* '' */
.ffz-i-gauge:before { content: '\f0e4'; } /* '' */
.ffz-i-chat-empty:before { content: '\f0e6'; } /* '' */
.ffz-i-download-cloud:before { content: '\f0ed'; } /* '' */
.ffz-i-upload-cloud:before { content: '\f0ee'; } /* '' */
.ffz-i-reply:before { content: '\f112'; } /* '' */
.ffz-i-smile:before { content: '\f118'; } /* '' */
.ffz-i-keyboard:before { content: '\f11c'; } /* '' */
.ffz-i-calendar-empty:before { content: '\f133'; } /* '' */
.ffz-i-ellipsis-vert:before { content: '\f142'; } /* '' */
.ffz-i-sort-alt-up:before { content: '\f160'; } /* '' */
.ffz-i-sort-alt-down:before { content: '\f161'; } /* '' */
.ffz-i-youtube-play:before { content: '\f16a'; } /* '' */
.ffz-i-language:before { content: '\f1ab'; } /* '' */
.ffz-i-twitch:before { content: '\f1e8'; } /* '' */
.ffz-i-bell-off:before { content: '\f1f7'; } /* '' */
.ffz-i-trash:before { content: '\f1f8'; } /* '' */
.ffz-i-eyedropper:before { content: '\f1fb'; } /* '' */
.ffz-i-cake:before { content: '\f1fd'; } /* '' */
.ffz-i-user-secret:before { content: '\f21b'; } /* '' */
.ffz-i-window-maximize:before { content: '\f2d0'; } /* '' */
.ffz-i-window-minimize:before { content: '\f2d1'; } /* '' */
.ffz-i-window-restore:before { content: '\f2d2'; } /* '' */
.ffz-i-window-close:before { content: '\f2d3'; } /* '' */