.thread-message__message,
.thread-message__timestamp,
.thread-message__warning,

.chat-line__moderation,
.chat-line__status,
.chat-list__lines .chat-line__raid,
.chat-list__lines .chat-line__subscribe,
.chat-list__lines .chat-line__bits-charity,
.chat-list__lines .chat-line__ritual,
.chat-line__subscribe,
.chat-line__message {
	background-color: transparent !important;

	&:nth-child(2n+0) {
		background-color: rgba(0,0,0,0.1) !important;

		.tw-theme--dark & {
			background-color: rgba(255,255,255,0.05) !important;
		}
	}
}

