.thread-message__message,
.thread-message__timestamp,
.thread-message__warning,

.chat-line__message:not(.chat-line--inline),
.chat-line__moderation,
.chat-line__status,
.chat-line__raid,
.user-notice-line {
	padding-bottom: calc(.5rem - 1px) !important;
	border-bottom: 1px solid var(--ffz-border-color);

	&:last-child:nth-child(odd) {
		border-bottom-color: transparent !important;
	}
}

.vod-message {
	padding-bottom: calc(.5rem - 1px) !important;
	border-bottom: 1px solid var(--ffz-border-color);
}

.video-chat__message-list-wrapper li:last-child .vod-message {
	border-bottom-color: transparent !important;
}

.thread-message__message,
.thread-message__timestamp,
.thread-message__warning {
	padding-bottom: 0 !important;

	& > .tw-pd-y-05 {
		padding-bottom: calc(.5rem - 1px) !important;
	}
}