.chat-line__message:not(.chat-line--inline),
.user-notice-line {
	.chat-scrollable-area__message-container > div:nth-child(2n+0) > &,
	.chat-scrollable-area__message-container > div:nth-child(2n+0) > div > &,
	&:nth-child(2n+0) {
		&.ffz-mentioned:not(.ffz-custom-color) {
			background-color: rgba(255,127,127,.4) !important;

			.tw-root--theme-dark & {
				background-color: rgba(255,0,0,.3) !important;
			}
		}
	}
}

.video-chat__message-list-wrapper li:nth-child(2n+0) .vod-message.ffz-mentioned:not(.ffz-custom-color) {
	background-color: rgba(255,127,127,.4) !important;

	.tw-root--theme-dark & {
		background-color: rgba(255,0,0,.3) !important;
	}
}
