body .video-watch-page__right-column,
body .clips-watch-page__right-column,
body .channel-page__right-column,
body .right-column:not(.right-column--collapsed),
body .channel-videos__right-column,
body .channel-clips__sidebar,
body .channel-events__sidebar,
body .channel-follow-listing__right-column,
body .channel-follow-listing__right-column,
body .channel-root__right-column {
	width: 34rem;
}

.channel-root__right-column--expanded {
	position: initial;
	transform: none !important;
}

.toggle-visibility__right-column--expanded {
	transform: none !important;
}

.channel-root--hold-chat+.persistent-player, .channel-root--watch-chat+.persistent-player, .channel-root__info--with-chat .channel-info-content, .channel-root__player--with-chat {
	width: 100% !important;
}