.chat-line__message,
.chat-line__subscribe {
	&.ffz-mentioned:nth-child(2n+0) {
		background-color: rgba(255,127,127,.4) !important;

		.theme--dark & {
			background-color: rgba(255,0,0,.3) !important;
		}
	}
}