.vod-message,
.chat-line__message:not(.chat-line--inline),
.user-notice-line {
	&.ffz-mentioned:not(.ffz-custom-color) {
		&,
		.chat-scrollable-area__message-container > div:nth-child(2n+0) > &,
		.chat-scrollable-area__message-container > div:nth-child(2n+0) > div > &,
		&:nth-child(2n+0) {
			background-color: var(--ffz-chat-mention-color) !important;
		}
	}
}
