.chat-line__moderation,
.chat-line__status,
.chat-line__raid,
.chat-line__subscribe,
.chat-line__message {
	background-color: transparent;

	&:nth-child(2n+0) {
		background-color: rgba(0,0,0,0.1);

		.theme--dark & {
			background-color: rgba(255,255,255,0.05);
		}
	}
}

