.chat-shell__expanded {
	min-width: unset !important;
}

.reward-center__content {
	width: calc(var(--ffz-chat-width) - 2rem) !important;
}

.channel-root {
	width: unset !important;
}

body .whispers--theatre-mode.whispers--right-column-expanded-beside {
	right: var(--ffz-chat-width);
}

body .persistent-player--theatre:not([style*="width: 100%"]),
body .channel-page__video-player--theatre-mode {
	width: calc(100% - var(--ffz-chat-width)) !important;
}

body .video-watch-page__right-column,
body .clips-watch-page__right-column,
body .channel-page__right-column,
body .right-column:not(.right-column--collapsed),
body .channel-videos__right-column,
body .channel-clips__sidebar,
body .channel-events__sidebar,
body .channel-follow-listing__right-column,
body .channel-follow-listing__right-column,
body .channel-root__right-column {
	width: var(--ffz-chat-width) !important;
}

.video-chat {
	flex-basis: var(--ffz-chat-width);
}

body .video-chat__sync-button {
	width: calc(var(--ffz-chat-width) - 4rem);
}

body .video-chat {
	-ms-flex-preferred-size: var(--ffz-chat-width);
	flex-basis: var(--ffz-chat-width);
}