.chat-line__message,
.chat-line__moderation,
.chat-line__status,
.chat-line__raid,
.chat-line__subscribe {
	padding-top: calc(.5rem - 1px) !important;

	border-top: 1px solid #aaa;
	border-bottom-color: rgba(255,255,255,0.5);

	.theme--dark & {
		border-top-color: #000;
		border-bottom-color: rgba(255,255,255,0.1);
	}

	&:first-child {
		border-top-color: transparent !important;
	}
}