body .whispers--theatre-mode.whispers--right-column-expanded {
	right: var(--ffz-chat-width);
}

body .persistent-player--theatre:not([style*="width: 100%"]),
body .channel-page__video-player--theatre-mode {
	width: calc(100% - var(--ffz-chat-width)) !important;
}

body .video-watch-page__right-column,
body .channel-page__right-column {
	width: var(--ffz-chat-width);
}