.video-chat__message-list-wrapper,
.whispers-thread__content,
.chat-list--other,
.chat-list--default,
.chat-list {
	font-size: var(--ffz-chat-font-size);
	line-height: var(--ffz-chat-line-height);
	font-family: var(--ffz-chat-font-family);

	.chat-list__lines {
		line-height: var(--ffz-chat-line-height);
	}
}

textarea[data-a-target="chat-input"],
textarea[data-a-target="video-chat-input"] {
	font-family: var(--ffz-chat-font-family) !important;
	font-size: var(--ffz-chat-font-size) !important;
}