.chat-line__message:not(.chat-line--inline),
.user-notice-line {
	&.ffz-mentioned:not(.ffz-custom-color):nth-child(2n+0) {
		background-color: rgba(255,127,127,.4) !important;

		.tw-theme--dark & {
			background-color: rgba(255,0,0,.3) !important;
		}
	}
}

.video-chat__message-list-wrapper li:nth-child(2n+0) .vod-message.ffz-mentioned:not(.ffz-custom-color) {
	background-color: rgba(255,127,127,.4) !important;

	.tw-theme--dark & {
		background-color: rgba(255,0,0,.3) !important;
	}
}