.thread-message__message,
.thread-message__timestamp,
.thread-message__warning,

.chat-line__moderation,
.chat-line__status,
.chat-list__lines .chat-line__raid,
.chat-list__lines .chat-line__bits-charity,
.user-notice-line,
.ffz-notice-line,
.chat-line__message:not(.chat-line--inline) {
	&:not(.ffz-custom-color) {
		background-color: transparent !important;

		&:nth-child(2n+0) {
			background-color: rgba(0,0,0,0.1) !important;

			.tw-root--theme-dark & {
				background-color: rgba(255,255,255,0.05) !important;
			}
		}
	}
}

.video-chat__message-list-wrapper li .vod-message:not(.ffz-custom-color) {
	background-color: transparent !important;
}

.video-chat__message-list-wrapper li:nth-child(2n+0) .vod-message:not(.ffz-custom-color) {
	background-color: rgba(0,0,0,0.1) !important;

	.tw-root--theme-dark & {
		background-color: rgba(255,255,255,0.05) !important;
	}
}

.video-chat__message-list-wrapper li:nth-child(2n+0) .ffz--points-highlight,
.ffz--points-highlight:nth-child(2n+0) {
	background-color: var(--ffz-channel-color-30);
}