.chat-line__message:not(.chat-line--inline),
.chat-line__moderation,
.chat-line__status,
.chat-line__raid {
	padding: .5rem 1rem;
}

.ffz--points-line,
.user-notice-line {
	padding: .5rem 1rem !important;
	padding-left: .6rem !important;
}