.thread-message__message,
.thread-message__timestamp,
.thread-message__warning,

.vod-message,

.ffz--points-line,

.chat-line__message:not(.chat-line--inline),
.chat-line__moderation,
.chat-line__status,
.chat-line__raid,
.user-notice-line {
	padding-top: calc(.5rem - 1px) !important;

	border-top: 1px solid #aaa;
	border-bottom-color: var rgba(255,255,255,0.5);

	.tw-root--theme-dark & {
		border-top-color: #000;
		border-bottom-color: rgba(255,255,255,0.1);
	}

	/*&:first-child {
		border-top-color: transparent !important;
	}*/
}

.vod-message {
	padding-top: calc(.5rem - 1px) !important;

	border-top: 1px solid #aaa;
	border-bottom-color: var rgba(255,255,255,0.5);

	.tw-root--theme-dark & {
		border-top-color: #000;
		border-bottom-color: rgba(255,255,255,0.1);
	}
}

.video-chat__message-list-wrapper li:first-child .vod-message {
	border-top-color: transparent !important;
}

.thread-message__message,
.thread-message__timestamp,
.thread-message__warning {
	padding-top: 0 !important;

	& > .tw-pd-y-05 {
		padding-top: calc(.5rem - 1px) !important;
	}
}
