.thread-message__message,
.thread-message__timestamp,
.thread-message__warning,

.chat-line__message,
.chat-line__moderation,
.chat-line__status,
.chat-line__raid,
.chat-line__subscribe {
	padding-top: calc(.5rem - 1px) !important;

	border-top: 1px solid #dad8de;

	.tw-theme--dark & {
		border-top-color: #2c2541;
	}

	&:first-child {
		border-top-color: transparent !important;
	}
}

.thread-message__message,
.thread-message__timestamp,
.thread-message__warning {
	padding-top: 0 !important;

	& > .tw-pd-y-05 {
		padding-top: calc(.5rem - 1px) !important;
	}
}