body .whispers--theatre-mode.whispers--right-column-expanded {
	right: var(--ffz-chat-width);
}

body .persistent-player--theatre:not([style*="width: 100%"]),
body .channel-page__video-player--theatre-mode {
	width: calc(100% - var(--ffz-chat-width)) !important;
}

body .video-watch-page__right-column,
body .channel-page__right-column,
body .right-column:not(.right-column--collapsed),
body .channel-videos__right-column,
body .channel-root__right-column {
	width: var(--ffz-chat-width);
}

body .video-chat__sync-button {
	width: calc(var(--ffz-chat-width) - 4rem);
}

body .video-chat {
	-ms-flex-preferred-size: var(--ffz-chat-width);
	flex-basis: var(--ffz-chat-width);
}