.ffz-hide-thumbnail a[data-a-target="preview-card-image-link"] {
	.ffz-aspect,
	.tw-aspect {
		&:before {
			content: '';
			opacity: 1;
			position: absolute;
			top: 0; left: 0;
			height: 100%;
			width: 100%;
			background: url("https://static-cdn.jtvnw.net/ttv-static/404_preview-320x180.jpg") no-repeat;
			background-size: cover;
		}

		img {
			opacity: 0;
		}
	}
}