button[data-a-target="emote-picker-button"] {
    & { //div[class^="ScButtonIcon"] {
        padding: .2rem .2rem 0 0;

        & > div > div {
            overflow: unset !important;

            &:before {
                display: inline-block;
                width: 2.4rem;
                font-size: 1.6rem;
                font-family: 'ffz-fontello';
                font-style: normal;
                font-weight: normal;
                speak: none;

                font-variant: normal;
                text-transform: none;

                -webkit-font-smoothing: antialiased;
	            -moz-osx-font-smoothing: grayscale;

                content: '\e801';
            }

            svg {
                display: none
            }
        }
    }
}