.guest-star-live-card-border {
	background: unset !important;
}

.guest-star-live-card-clip-edge {
	clip-path: unset !important;
}

.guest-star-live-card-branding-image {
	display: none !important;
}

.guest-star-live-card-clip-corner {
	-webkit-mask: unset !important;
	mask: unset !important;
}
