.get-bits-button,
.gem-notif-icon,
.chat-input button[data-a-target="bits-button"],
button[data-test-selector="get-bits-button__top-nav-button"],
.channel-header__right > .tw-mg-l-1 > div > div > button:not([data-a-target]) {
	display: none;
}