#root {
	.top-nav {
		> div {
			height: 5rem !important;
		}

		position: relative;
		height: 1rem !important;
		top: -4rem !important;

		transition: top ease-in-out 75ms, bottom ease-in-out 75ms;

		.top-nav__search-container,
		.tw-svg__asset--logotwitch {
			transition: opacity ease-in-out 75ms;
			opacity: 0;
			//visibility: hidden;
		}

		&:focus-within,
		&:hover {
			top: 0 !important;

			.top-nav__search-container,
			.tw-svg__asset--logotwitch {
				opacity: 1;
				//visibility: visible;
			}
		}
	}
}
