.user-avatar-animated,
.search-result-card,
.ffz-avatar,
.tw-avatar {
	--border-radius-rounded: 0 !important;
}

.user-avatar-card__halo,
.player-streaminfo__picture img[src],
.channel-info-content .tw-halo,
.channel-info-content .tw-halo:before {
	border-radius: 0 !important;
}

.bits-leaderboard-medal .tw-avatar {
	--border-radius-rounded: 9000px !important;
}

.user-avatar-animated .user-avatar-animated__halo {
	visibility: hidden;
}