.twilight-main { order: 2 }
#sideNav,
.side-nav { order: 3 }
.right-column {
	order: 1;
	z-index: 2;

	#root &:not(.right-column--collapsed) {
		width: var(--ffz-chat-width);
	}
}

.channel-root {
	width: unset !important;
}

#sideNav .collapse-toggle {
	svg {
		transform: rotate(180deg);
	}
}

.right-column__toggle-visibility {
	.tw-tooltip--left {
		left: 100% !important;
		right: auto !important;
		margin-left: 6px;
	}

	svg { transform: rotate(180deg) }

	.right-column--collapsed & {
		left: unset !important;
		right: -4rem !important;
	}
}


.side-nav__theme-wrapper.tw-border-r {
	border-right: none !important;
	border-left: 1px solid #dad8de;

	.tw-root--theme-dark & {
		border-left-color: #2c2541;

	}
	.tw-root--theme-ffz.tw-root--theme-dark & {
		border-left-color: var(--ffz-color-20);
	}
}

.chat-room__pane {
	border-left: none !important;
	border-right: 1px solid #dad8de;

	.tw-root--theme-dark & {
		border-right-color: #2c2541;
	}


	.tw-root--theme-ffz.tw-root--theme-dark & {
		border-right-color: var(--ffz-color-20);
	}
}

.side-nav--hover-exp:not(.side-nav--expanded) {
	transform: translateX(0) !important;

	.side-nav-content {
		transform: none !important;
	}

	&:hover {
		transform: translateX(-19rem) !important;
	}

}


.right-column.right-column--theatre {
	right: unset !important;
	left: 0 !important;
}

.persistent-player--theatre,
.channel-page__video-player--theatre-mode {
	left: unset !important;
	right: 0;
}

body .whispers--theatre-mode.whispers--right-column-expanded-beside {
	left: var(--ffz-chat-width) !important;
	right: 0 !important;
}

.channel-root__scroll-area--theatre-mode {
	.channel-info-content > div:first-child, .channel-info-bar {
		left: calc(var(--ffz-chat-width) + 5rem) !important;
		right: 40rem !important;
	}
}