.twilight-main { order: 2 }
.side-nav { order: 3 }
.right-column {
	order: 1;
	z-index: 2;
}

.side-nav__toggle-visibility {
	right: unset !important;
	left: -2.5rem;
	z-index: 10 !important;
	svg { transform: rotate(180deg) }
}

.right-column__toggle-visibility {
	//left: unset !important;
	//right: -2.5rem;
	//z-index: 10 !important;
	svg { transform: rotate(180deg) }

	.right-column--collapsed & {
		left: unset !important;
		right: -4rem !important;
	}
}

.channel-header {
	padding-left: 4rem !important;

	.tw-sm-pd-r-4 {
		padding-right: 1rem !important;
	}

}

.side-nav__theme-wrapper.tw-border-r {
	border-right: none !important;
	border-left: 1px solid #dad8de;

	.tw-root--theme-dark & {
		border-left-color: #2c2541;

	}
	.tw-root--theme-ffz.tw-root--theme-dark & {
		border-left-color: var(--ffz-color-20);
	}
}

.chat-room__pane {
	border-left: none !important;
	border-right: 1px solid #dad8de;

	.tw-root--theme-dark & {
		border-right-color: #2c2541;
	}


	.tw-root--theme-ffz.tw-root--theme-dark & {
		border-right-color: var(--ffz-color-20);
	}
}


.right-column.right-column--theatre {
	right: unset !important;
	left: 0 !important;
}

.persistent-player--theatre,
.channel-page__video-player--theatre-mode {
	left: unset !important;
	right: 0;
}

body .whispers--theatre-mode.whispers--right-column-expanded {
	left: var(--ffz-chat-width) !important;
	right: 0 !important;
}

.channel-root__scroll-area--theatre-mode .channel-info-bar {
	left: calc(var(--ffz-chat-width) + 5rem) !important;
	right: 25rem !important;
}