.channel-root__scroll-area--theatre-mode .channel-info-bar {
	position: fixed;
	bottom: 10rem;
	left: 5rem;
	right: calc(var(--ffz-chat-width) + 25rem);
	z-index: 3500;
	opacity: 0;
	width: unset !important;

	pointer-events: none;

	.tw-tooltip-wrapper, .tw-stat, .ffz-stat, button, a {
		pointer-events: all;
	}
}

.channel-root__scroll-area--theatre-mode:hover .channel-info-bar {
	background-color: var(--color-background-base);
	opacity: 0.75;
}