.channel-root__scroll-area--theatre-mode {
	.channel-info-content > div:first-child,
	.channel-info-bar {
		position: fixed;
		bottom: 17rem;
		left: 5rem;
		right: calc(var(--ffz-chat-width) + 40rem);
		z-index: 3500;
		opacity: 0;
		width: unset !important;

		border: 1px solid var(--color-background-alt);
		border-radius: 1rem;

		pointer-events: none;

		.tw-tooltip__container, .tw-stat, .ffz-stat, button, a {
			pointer-events: all;
		}
	}

	.channel-root > div > div {
		transform: none !important;
	}

	&:hover {
		.channel-info-content > div:first-child,
		.channel-info-bar {
			background-color: var(--color-background-base);
			opacity: 0.75;
		}
	}
}