.badges .badge {
	background-color: transparent !important;
}


/* Invert Some Badges */
.badge:not(.subscriber):not(.ffz-badge-1) {
	filter: invert(75%);
	-webkit-filter: invert(75%);
}

.ffz-dark .badge,
.theatre .badge,
.dark .badge,
.force-dark .badge {
	filter: none !important;
	-webkit-filter: none !important;
}