.badges .staff:not(.colored) {
	background-color: #6441a5;
	background-image: url('//cdn.frankerfacez.com/script/legacy-staff.png');
}

.badges .staff.colored {
	background: linear-gradient(#6441a5,#6441a5);
	-webkit-mask-image: url('//cdn.frankerfacez.com/script/legacy-staff.png');
}

.badges .broadcaster:not(.colored) {
	background-color: #000;
	background-image: url('//cdn.frankerfacez.com/script/legacy-broadcaster.png');
}

.badges .broadcaster.colored {
	background: linear-gradient(#e71818,#e71818);
	-webkit-mask-image: url('//cdn.frankerfacez.com/script/legacy-broadcaster.png');
}

.badges .admin:not(.colored) {
	background-color: #ff0303;
	background-image: url('//cdn.frankerfacez.com/script/legacy-admin.png');
}

.badges .admin.colored {
	background: linear-gradient(#ff0303,#ff0303);
	-webkit-mask-image: url('//cdn.frankerfacez.com/script/legacy-admin.png');
}