.badges .badge {
	background-color: transparent !important;
}


/* Invert Some Badges */
.ffz-dark .badge.invert-invert,
.theatre .badge.invert-invert,
.theme--dark .badge.invert-invert,
.dark .badge.invert-invert,
.badge:not(.no-invert):not(.invert-invert) {
	filter: invert(75%);
}

.badge.colored,
.ffz-dark .badge:not(.invert-invert),
.theatre .badge:not(.invert-invert),
.theme--dark .badge:not(.invert-invert),
.dark .badge:not(.invert-invert) {
	filter: none !important;
}