/* 3D Inset Separators */
.conversation-chat-lines > div,
.chat-line {
	border-top: 1px solid #aaa;
	border-bottom-color: rgba(255,255,255, 0.5);
}

.ember-chat .chat-messages .chat-line,
.ember-chat .chat-messages .chat-line.admin { padding-top: 2px }

/* Dark: 3D Inset Separators */
.ffz-dark .conversation-chat-lines > div,
.theatre .conversation-chat-lines > div,

.theatre .chat-line,
.dark .chat-line {
	border-top-color: #000;
	border-bottom-color: rgba(255,255,255, 0.1);
}