/* Simple Separators */
.conversation-chat-lines > div,
.chat-line {
	border-bottom: 1px solid #aaa;
}

.ember-chat .chat-messages .chat-line,
.ember-chat .chat-messages .chat-line.admin { padding-bottom: 2px }

/* Dark: Simple Separators */
.ffz-dark .conversation-chat-lines > div,
.theatre .conversation-chat-lines > div,

.theatre .chat-line,
.dark .chat-line {
	border-bottom-color: #000;
}


/* Hide First Line */
.conversation-chat-lines > div:first-child,
.chat-line:first-of-type {
	border-top-color: transparent !important;
}

/* Hide Last Line */
.conversation-chat-lines > div:last-child:nth-child(odd),
.chat-line:last-of-type:nth-child(odd) {
	border-bottom-color: transparent !important;
}