/* Regular Alternating Background */
.conversation-chat-lines > div:nth-child(2n+0),
.chat-line:nth-child(2n+0) {
	background-color: rgba(0,0,0, 0.1);
}


/* Dark: Alternating Background */
.ffz-dark .conversation-chat-lines > div:nth-child(2n+0),
.ffz-dark .chat-history .chat-line:nth-child(2n+0),

.theatre .conversation-chat-lines > div:nth-child(2n+0),
.theatre .chat-line:nth-child(2n+0),

.dark .chat-line:nth-child(2n+0) {
	background-color: rgba(255,255,255, 0.05);
}


/* DEPRECIATED: Whisper Backgrounds */
.chat-line.whisper {
	background-color: rgba(185, 163, 227, 0.2);
}


.chat-line.whisper:nth-child(2n+0) {
	background-color: rgba(185, 163, 227, 0.4);
}

.theatre .chat-line.whisper,
.dark .chat-line.whisper {
	background-color: rgba(100, 65, 165, 0.2);
}

.theatre .chat-line.whisper:nth-child(2n+0),
.dark .chat-line.whisper:nth-child(2n+0) {
	background-color: rgba(100, 65, 165, 0.4);
}


/* Chat History: Original Sender */
.chat-history .chat-line.original-sender {
	background-color: rgba(0,127,255, 0.2);
}

.chat-history .chat-line.original-sender:nth-child(2n+0) {
	background-color: rgba(0,127,255, 0.4);
}

.theatre .chat-history .chat-line.original-sender,
.dark .chat-history .chat-line.original-sender {
	background-color: rgba(0,63,127, 0.2);
}

.theatre .chat-history .chat-line.original-sender:nth-child(2n+0),
.dark .chat-history .chat-line.original-sender:nth-child(2n+0) {
	background-color: rgba(0,63,127, 0.4);
}


/* Chat History: Original Message */
.chat-history .chat-line.original-msg {
	background-color: rgba(0,255,127, 0.4);
}

.chat-history .chat-line.original-msg:nth-child(2n+0) {
	background-color: rgba(0,255,127, 0.8);
}

.theatre .chat-history .chat-line.original-msg,
.dark .chat-history .chat-line.original-msg {
	background-color: rgba(0,127,63, 0.4);
}

.theatre .chat-history .chat-line.original-msg:nth-child(2n+0),
.dark .chat-history .chat-line.original-msg:nth-child(2n+0) {
	background-color: rgba(0,127,63, 0.8);
}


/* Reading contrast */
.chat-history .chat-line.original-msg span.has-color {
	color: #000 !important;
}

.theatre .chat-history .chat-line.original-msg span.has-color,
.dark .chat-history .chat-line.original-msg span.has-color {
	color: #fff !important;
}


/* Fix Conversations */

.conversation-window .timestamp-line span,
.conversation-window .new-message-divider span {
	background-color: transparent;
}

.conversation-window .new-message-divider:after,
.conversation-window .timestamp-line:after {
	display: none;
}