.conversation-chat-lines > div,
.chat-line {
	position: relative;
	z-index: 1;
}

.conversation-chat-lines > div:before,
.chat-line:before {
	content: "";
	position: absolute;
	z-index: -1;
	left: 0; right: 0;
	top: 0; bottom: 0;
}

.chat-line.brick--marked {
	box-shadow: none;
}

.chat-line.brick--marked:before {
	box-shadow: 3px 0 0 #6441a4 inset;
}