.ffz-checkbox__input {
	&:indeterminate + .ffz-checkbox__label {
		&:before {
			background: var(--ffz-color-accent-8);
			border: 1px solid var(--ffz-color-accent-8);
		}

		&:after {
			content: '';
			display: block;
			position: absolute;
			top: 50%;
			left: .4rem;

			height: 0;
			width: .8rem;

			margin-top: -.1rem;
			border-bottom: 2px solid #fff;
			border-radius: 1rem;
		}
	}
}