.ffz--emote-picker__list,
.ffz--icon-picker__list {
	max-height: 15rem;
	font-size: 1.6rem;

	.ffz-icon {
		width: auto !important;

		figure {
			pointer-events: none;
		}
	}
}

.ffz--emote-picker {
	.ffz-preview-emote {
		width: 2rem;
		height: 2rem;
		object-fit: contain;
	}
}