.ffz-main-menu {
	z-index: 1998;

	h2 { font-size: var(--ffz-font-size-2); }
	h3 { font-size: var(--ffz-font-size-3); }

	.scrollable-area {
		overflow-anchor: none;
	}

	& > header {
		* {
			pointer-events: none;
		}

		input, button {
			pointer-events: all;
		}
	}
}

.ffz-dialog:not(.maximized) .ffz-vertical-nav {
	border-bottom-left-radius: var(--border-radius-extra-large);
}
