.ffz--menu-container {
	@extend .ffz--outer-container;
	@extend .ffz--inner-container;

	position: relative;

	&:not(.border):not(.border-b) {
		margin-bottom: $spacing;
	}

	& > div {
		margin-top: 0.5rem;

		& > .ffz--menu-container {
			margin-top: 1.5rem;
		}

	}

	& > header {
		position: absolute;
		top: 0; left: $spacing - 0.5rem;
		transform: translateY(-50%);
		padding: 0 0.5rem;

		background-color: var(--color-background-alt);
	}
}