.ffz--menu-container {
	@extend .ffz--outer-container;
	@extend .ffz--inner-container;

	position: relative;

	&:not(.border):not(.border-b) {
		margin-bottom: $spacing;
	}

	& > header {
		position: absolute;
		top: 0; left: $spacing - 0.5rem;
		transform: translateY(-50%);
		padding: 0 0.5rem;

		background-color: $bg-light;

		.theme--dark & {
			background-color: $bg-dark;
		}

		& + * {
			margin-top: 0.5rem;
		}
	}
}