.ffz--profile-selector {
	position: relative;

	.tw-balloon {
		position: absolute;
		margin-top: 0 !important
	}

	.scrollable-area {
		max-height: 30rem;
	}
}

.ffz--profile-row {
	outline: none;
	cursor: pointer;

	border-left: 4px solid;
	border-left-color: transparent;

	&.live .ffz--profile-row__icon {
		color: green;
	}

	&:not(.live):not(:hover):not(:focus) {
		opacity: .5;
		font-variant: italic;

		.tw-root--theme-dark & {
			opacity: .25;
		}
	}

	&.current {
		border-left-color: #6441a4;
	}

	.description {
		opacity: .7;
	}

	&:first-child {
		margin-top: 0.5rem;
	}

	&:last-child {
		&, .tw-root--theme-dark & {
			border-bottom: none !important
		}
	}

	&:focus {
		box-shadow:
			inset 0 0 0 1px #7d5bbe,
			0 0 6px -2px #7d5bbe;
	}

	&:focus,
	&:hover {
		background: rgba(100, 65, 164, .05);

		.tw-theme-dark & {
			background: rgba(100, 65, 164, .2);
		}
	}
}

.ffz--profile-row__icon {
	position: absolute;
	top: 0.5rem; right: 0.5rem;
	font-size: 1.6rem;
}


.ffz--experiment-row {
	&:not(.live):not(:hover):not(:focus) {
		opacity: 0.5;

		.tw-root--theme-dark & {
			opacity: .25;
		}
	}
}