@font-face {
	font-family: 'ffz-fontello';
	src: url('~res/font/ffz-fontello.woff2') format('woff2'),
		url('~res/font/ffz-fontello.woff') format('woff'),
		url('~res/font/ffz-fontello.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

//[data-a-target="emote-picker-button"] figure:before,
[class^="ffz-i-"]:before, [class*=" ffz-i-"]:before {
	font-family: "ffz-fontello";
	font-style: normal;
	font-weight: normal;
	speak: none;

	display: inline-block;
	text-decoration: inherit;
	width: 1em;
	margin-right: .2em;
	text-align: center;
	/* opacity: .8; */

	/* For safety - reset parent styles, that can break glyph codes*/
	font-variant: normal;
	text-transform: none;

	/* fix buttons height, for twitter bootstrap */
	line-height: 1em;

	/* Animation center compensation - margins should be symmetric */
	/* remove if not needed */
	margin-left: .2em;

	/* you can be more comfortable with increased icons size */
	/* font-size: 120%; */

	/* Font smoothing. That was taken from TWBS */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	/* Uncomment for 3D effect */
	/* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}


.tw-button-icon__icon {
	[class^="ffz-i-"], [class*=" ffz-i-"] {
		font-size: 1.6rem
	}
}

.ffz-i-zreknarf:before {
	width: 1.3em;
	margin: .5rem .05rem 0;
}


.tw-button__icon .ffz-i-crown:before {
	font-size: 1.6rem;
	vertical-align: middle;
	margin-bottom: -.6rem;
}

.ffz-i-cancel:before { content: '\e800'; } /* '' */
.ffz-i-zreknarf:before { content: '\e801'; } /* '' */
.ffz-i-search:before { content: '\e802'; } /* '' */
.ffz-i-clock:before { content: '\e803'; } /* '' */
.ffz-i-star:before { content: '\e804'; } /* '' */
.ffz-i-star-empty:before { content: '\e805'; } /* '' */
.ffz-i-down-dir:before { content: '\e806'; } /* '' */
.ffz-i-right-dir:before { content: '\e807'; } /* '' */
.ffz-i-attention:before { content: '\e808'; } /* '' */
.ffz-i-ok:before { content: '\e809'; } /* '' */
.ffz-i-cog:before { content: '\e80a'; } /* '' */
.ffz-i-plus:before { content: '\e80b'; } /* '' */
.ffz-i-folder-open:before { content: '\e80c'; } /* '' */
.ffz-i-download:before { content: '\e80d'; } /* '' */
.ffz-i-upload:before { content: '\e80e'; } /* '' */
.ffz-i-floppy:before { content: '\e80f'; } /* '' */
.ffz-i-crown:before { content: '\e810'; } /* '' */
.ffz-i-verified:before { content: '\e811'; } /* '' */
.ffz-i-heart:before { content: '\e812'; } /* '' */
.ffz-i-heart-empty:before { content: '\e813'; } /* '' */
.ffz-i-tag:before { content: '\e814'; } /* '' */
.ffz-i-tags:before { content: '\e815'; } /* '' */
.ffz-i-retweet:before { content: '\e816'; } /* '' */
.ffz-i-thumbs-up:before { content: '\e817'; } /* '' */
.ffz-i-thumbs-down:before { content: '\e818'; } /* '' */
.ffz-i-bell:before { content: '\e819'; } /* '' */
.ffz-i-pencil:before { content: '\e81a'; } /* '' */
.ffz-i-info:before { content: '\e81b'; } /* '' */
.ffz-i-help:before { content: '\e81c'; } /* '' */
.ffz-i-calendar:before { content: '\e81d'; } /* '' */
.ffz-i-left-dir:before { content: '\e81e'; } /* '' */
.ffz-i-inventory:before { content: '\e81f'; } /* '' */
.ffz-i-lock:before { content: '\e820'; } /* '' */
.ffz-i-lock-open:before { content: '\e821'; } /* '' */
.ffz-i-arrows-cw:before { content: '\e822'; } /* '' */
.ffz-i-ignore:before { content: '\e823'; } /* '' */
.ffz-i-block:before { content: '\e824'; } /* '' */
.ffz-i-pin:before { content: '\e825'; } /* '' */
.ffz-i-pin-outline:before { content: '\e826'; } /* '' */
.ffz-i-gift:before { content: '\e827'; } /* '' */
.ffz-i-views:before { content: '\e828'; } /* '' */
.ffz-i-eye:before { content: '\e829'; } /* '' */
.ffz-i-eye-off:before { content: '\e82a'; } /* '' */
.ffz-i-conversations:before { content: '\e82b'; } /* '' */
.ffz-i-link-ext:before { content: '\f08e'; } /* '' */
.ffz-i-twitter:before { content: '\f099'; } /* '' */
.ffz-i-gauge:before { content: '\f0e4'; } /* '' */
.ffz-i-download-cloud:before { content: '\f0ed'; } /* '' */
.ffz-i-upload-cloud:before { content: '\f0ee'; } /* '' */
.ffz-i-keyboard:before { content: '\f11c'; } /* '' */
.ffz-i-calendar-empty:before { content: '\f133'; } /* '' */
.ffz-i-ellipsis-vert:before { content: '\f142'; } /* '' */
.ffz-i-twitch:before { content: '\f1e8'; } /* '' */
.ffz-i-bell-off:before { content: '\f1f7'; } /* '' */
.ffz-i-trash:before { content: '\f1f8'; } /* '' */
.ffz-i-eyedropper:before { content: '\f1fb'; } /* '' */
.ffz-i-window-maximize:before { content: '\f2d0'; } /* '' */
.ffz-i-window-minimize:before { content: '\f2d1'; } /* '' */
.ffz-i-window-restore:before { content: '\f2d2'; } /* '' */
.ffz-i-window-close:before { content: '\f2d3'; } /* '' */


.ffz-i-pd-1:before { margin-right: 1rem }
.ffz-i-pd-2:before { margin-right: 2rem }
.ffz-i-pd-3:before { margin-right: 3rem }