@font-face {
	font-family: 'ffz-fontello';
	src: url('~res/font/ffz-fontello.woff2') format('woff2'),
		url('~res/font/ffz-fontello.woff') format('woff'),
		url('~res/font/ffz-fontello.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

//[data-a-target="emote-picker-button"] figure:before,
[class^="ffz-i-"]:before, [class*=" ffz-i-"]:before {
	font-family: "ffz-fontello";
	font-style: normal;
	font-weight: normal;
	speak: none;

	display: inline-block;
	text-decoration: inherit;
	width: 1em;
	margin-right: .2em;
	text-align: center;
	/* opacity: .8; */

	/* For safety - reset parent styles, that can break glyph codes*/
	font-variant: normal;
	text-transform: none;

	/* fix buttons height, for twitter bootstrap */
	line-height: 1em;

	/* Animation center compensation - margins should be symmetric */
	/* remove if not needed */
	margin-left: .2em;

	/* you can be more comfortable with increased icons size */
	/* font-size: 120%; */

	/* Font smoothing. That was taken from TWBS */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	/* Uncomment for 3D effect */
	/* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.ffz-mod-icon .ffz-i-reply {
	font-size: 0.8em;
}


.ffz-player-icon {
	font-size: 2rem !important;
	margin: -.5rem -.4rem !important;
}


.tw-button-icon__icon {
	[class^="ffz-i-"], [class*=" ffz-i-"] {
		font-size: 1.6rem
	}
}

.ffz-i-zreknarf:before {
	width: 1.3em;
	margin: .5rem .05rem 0;
}

.tw-button__icon {
	.ffz-i-crown:before {
		font-size: 1.6rem;
		vertical-align: middle;
		margin-bottom: -.6rem;
	}

	.ffz-i-zreknarf:before {
		vertical-align: middle;
		margin-top: 0;
	}

	.ffz-i-discord:before,
	.ffz-i-twitter:before {
		vertical-align: middle;
		margin-bottom: -0.1em;
	}
}

@import "./fontello/ffz-fontello-codes.scss";

.ffz-i-pd-1:before { margin-right: 1rem }
.ffz-i-pd-2:before { margin-right: 2rem }
.ffz-i-pd-3:before { margin-right: 3rem }