@import 'icons';
@import 'tooltips';
@import 'widgets';
@import 'main_menu';

@import 'chat';

@keyframes ffz-rotateplane {
	0% { transform: rotateY(90deg) rotateX(180deg) }
	25% { transform: rotateY(0deg) rotateX(180deg) }
	75% { transform: rotateY(0deg) rotateX(0deg) }
	100% { transform: rotateY(90deg) rotateX(0deg) }
}


.ffz-i-zreknarf.loading {
	animation: ffz-rotateplane 1.2s infinite linear;
}