.ffz-main-menu {
	&:not(.maximized) {
		position: absolute;
		top: 25%;
		left: 25%;

		z-index: 99999999;

		height: 50vh;
		width: 50vw;

		min-width: 640px;
		min-height: 300px;

		> header {
			cursor: move;
		}

		&.faded {
			opacity: 0.5;

			&:hover {
				opacity: 0.75;
			}
		}
	}

	&.maximized {
		position: absolute;
		top: 0 !important;
		left: 0 !important;

		width: 100%;
		height: 100%;

		&, .tw-theme--dark & {
			border: none !important;
		}

		> header {
			cursor: default;
			padding: .9rem 3rem;
		}
	}

	&.exclusive {
		z-index: 1000;
	}

	.want-ps {
		overflow-y: auto;
	}

	> header {
		user-select: none;
		padding: .9rem 1rem .9rem 2rem;

		.tw-search-input {
			max-width: 40rem
		}
	}
}


.ffz-has-menu > :not(.ffz-main-menu) {
	visibility: hidden;
}