@import 'icons';
@import 'tooltips';
@import 'widgets';
@import 'dialog';

@import 'chat';

@keyframes ffz-rotateplane {
	0% { transform: rotateY(90deg) rotateX(180deg) }
	25% { transform: rotateY(0deg) rotateX(180deg) }
	75% { transform: rotateY(0deg) rotateX(0deg) }
	100% { transform: rotateY(90deg) rotateX(0deg) }
}


.ffz-i-t-reset.loading,
.ffz-i-t-reset-clicked.loading,
.ffz-i-zreknarf.loading {
	animation: ffz-rotateplane 1.2s infinite linear;
}

.ffz-c-text-inherit {
	color: inherit !important;
}

.ffz-mg-r--05 {
	margin-right: -0.5rem !important;
}

.ffz-mg-l--05 {
	margin-left: -0.5rem !important;
}