@font-face {
	font-family: 'opendyslexic';
	src: url('~res/font/OpenDyslexic-Regular.otf');
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: 'opendyslexic';
	src: url('~res/font/OpenDyslexic-Italic.otf');
	font-style: italic;
	font-weight: normal;
}

@font-face {
	font-family: 'opendyslexic';
	src: url('~res/font/OpenDyslexic-Bold.otf');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'opendyslexic';
	src: url('~res/font/OpenDyslexic-BoldItalic.otf');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'opendyslexicmono';
	src: url('~res/font/OpenDyslexicMono-Regular.otf');
}

@font-face {
	font-family: 'opendyslexicalta';
	src: url('~res/font/OpenDyslexicAlta-Regular.otf');
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: 'opendyslexicalta';
	src: url('~res/font/OpenDyslexicAlta-Italic.otf');
	font-style: italic;
	font-weight: normal;
}

@font-face {
	font-family: 'opendyslexicalta';
	src: url('~res/font/OpenDyslexicAlta-Bold.otf');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'opendyslexicalta';
	src: url('~res/font/OpenDyslexicAlta-BoldItalic.otf');
	font-weight: bold;
	font-style: italic;
}
